.version.index /* version checker */ {
	color: #000016;
	background-color: #3d13b4;
}

.html {
	background: #1b0b2c url("../images/desktop_backround_01.png") no-repeat center
		top fixed;
	background-size: cover;
}

#page {
	z-index: 1;
	width: 1170px;
	min-height: 4938px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content {
	width: 0.01px;
}

#home {
	margin-left: 30px;
	position: relative;
}

#u140-6 {
	z-index: 385;
	width: 335px;
	min-height: 63px;
	background-color: transparent;
	line-height: 22px;
	color: #ffffff;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 48px;
	left: 50px;
}

#u142-6 {
	z-index: 397;
	width: 335px;
	min-height: 63px;
	background-color: transparent;
	line-height: 22px;
	color: #ffffff;
	font-size: 18px;
	text-align: right;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 48px;
	right: 50px;
}

#u195 {
	z-index: 3;
	width: 328px;
	height: 433px;
	position: fixed;
	top: 72px;
	left: 511px;
	background: transparent url("../images/geo_06.png") no-repeat center top;
}

#u180 {
	z-index: 5;
	width: 716px;
	height: 655px;
	position: fixed;
	top: 141px;
	left: 220px;
	background: transparent url("../images/geo_04.png") no-repeat center top;
}

#u122-4 {
	z-index: 9;
	width: 302px;
	min-height: 40px;
	border-width: 5px;
	border-style: solid;
	border-color: #ffffff;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 429px;
	margin-top: 121px;
	position: relative;
}

#u122-2 {
	padding-bottom: 7px;
	padding-top: 7px;
}

#u172 {
	z-index: 6;
	width: 527px;
	height: 579px;
	position: fixed;
	top: 148px;
	left: 299px;
	background: transparent url("../images/geo_03.png") no-repeat center top;
}

#u126-4 {
	z-index: 13;
	width: 350px;
	min-height: 29px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 411px;
	margin-top: 14px;
	position: relative;
}

#pamphletu2319 {
	z-index: 424;
	width: 0.01px;
	height: 24px;
	position: fixed;
	top: 246px;
	right: 192px;
}

#u2322 {
	z-index: 425;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u2323 {
	position: absolute;
	width: 20px;
	border-color: #dedede;
	background-color: transparent;
	padding-bottom: 24px;
}

#u2323:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#menuu2324 {
	z-index: 427;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 246px;
	right: 51px;
}

#u2328 {
	width: 20px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u2328:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u2331-3 {
	width: 20px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u2328:hover #u2331-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2334popup {
	z-index: 433;
}

#u2335 {
	z-index: 434;
	width: 117px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/menu_background.png") no-repeat center
		top;
	background-size: contain;
}

#u2336-4 {
	z-index: 435;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */ {
	cursor: pointer;
}

#u151 {
	z-index: 17;
	width: 980px;
	height: 450px;
	margin-left: 95px;
	position: relative;
	background: transparent url("../images/deep_sounds_logo.png") no-repeat center
		top;
	background-size: contain;
}

#pu165 {
	width: 0.01px;
	padding-bottom: 572px;
	margin-left: 284px;
	margin-top: -166px;
}

#u165 {
	z-index: 7;
	width: 267px;
	height: 541px;
	position: fixed;
	top: 311px;
	left: 284px;
	background: transparent url("../images/geo_02.png") no-repeat center top;
}

#u188 {
	z-index: 4;
	width: 423px;
	height: 294px;
	position: fixed;
	top: 313px;
	left: 493px;
	background: transparent url("../images/geo_05.png") no-repeat center top;
}

#pamphletu273 {
	z-index: 409;
	width: 0.01px;
	height: 24px;
	position: fixed;
	top: 280px;
	right: 192px;
}

#u274 {
	z-index: 410;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u276 {
	position: absolute;
	width: 20px;
	border-color: #dedede;
	background-color: transparent;
	padding-bottom: 24px;
}

#u2328.MuseMenuActive,
#u276:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#menuu495 {
	z-index: 412;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 280px;
	right: 51px;
}

#u499 {
	width: 20px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u499:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u500-3 {
	width: 20px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u2328.MuseMenuActive #u2331-3,
#u499:hover #u500-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u278popup {
	z-index: 418;
}

#u280 {
	z-index: 419;
	width: 117px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/menu_background.png") no-repeat center
		top;
	background-size: contain;
}

#u311-4 {
	z-index: 420;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1px;
}

#pamphletu312 {
	z-index: 439;
	width: 0.01px;
	height: 24px;
	position: fixed;
	top: 313px;
	right: 192px;
}

#u315 {
	z-index: 440;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u316 {
	position: absolute;
	width: 20px;
	border-color: #dedede;
	background-color: transparent;
	padding-bottom: 24px;
}

#u499.MuseMenuActive,
#u316:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#menuu503 {
	z-index: 442;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 313px;
	right: 51px;
}

#u507 {
	width: 20px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u507:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u508-3 {
	width: 20px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u499.MuseMenuActive #u500-3,
#u507:hover #u508-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u319popup {
	z-index: 448;
}

#u320 {
	z-index: 449;
	width: 117px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/menu_background.png") no-repeat center
		top;
	background-size: contain;
}

#u321-4 {
	z-index: 450;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1px;
}

#pamphletu336 {
	z-index: 469;
	width: 0.01px;
	height: 24px;
	position: fixed;
	top: 347px;
	right: 192px;
}

#u337 {
	z-index: 470;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u338 {
	position: absolute;
	width: 20px;
	border-color: #dedede;
	background-color: transparent;
	padding-bottom: 24px;
}

#u507.MuseMenuActive,
#u338:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#menuu511 {
	z-index: 472;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 347px;
	right: 51px;
}

#u515 {
	width: 20px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u515:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u518-3 {
	width: 20px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u507.MuseMenuActive #u508-3,
#u515:hover #u518-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u341popup {
	z-index: 478;
}

#u342 {
	z-index: 479;
	width: 117px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/menu_background.png") no-repeat center
		top;
	background-size: contain;
}

#u343-4 {
	z-index: 480;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1px;
}

#pamphletu384 {
	z-index: 454;
	width: 0.01px;
	height: 24px;
	position: fixed;
	top: 380px;
	right: 192px;
}

#u385 {
	z-index: 455;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u386 {
	position: absolute;
	width: 20px;
	border-color: #dedede;
	background-color: transparent;
	padding-bottom: 24px;
}

#u515.MuseMenuActive,
#u386:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#menuu519 {
	z-index: 457;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 380px;
	right: 51px;
}

#u523 {
	width: 20px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u523:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u524-3 {
	width: 20px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u515.MuseMenuActive #u518-3,
#u523:hover #u524-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u389popup {
	z-index: 463;
}

#u390 {
	z-index: 464;
	width: 117px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/menu_background.png") no-repeat center
		top;
	background-size: contain;
}

#u391-4 {
	z-index: 465;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1px;
}

#pamphletu372 {
	z-index: 484;
	width: 0.01px;
	height: 24px;
	position: fixed;
	top: 414px;
	right: 192px;
}

#u382 {
	z-index: 485;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u383 {
	position: absolute;
	width: 20px;
	border-color: #dedede;
	background-color: transparent;
	padding-bottom: 24px;
}

#u523.MuseMenuActive,
#u383:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u2323.PamphletThumbSelected,
#u276.PamphletThumbSelected,
#u316.PamphletThumbSelected,
#u338.PamphletThumbSelected,
#u386.PamphletThumbSelected,
#u383.PamphletThumbSelected {
	background-image: none;
	width: 20px;
	min-height: 0px;
	margin: 0px;
}

#menuu527 {
	z-index: 487;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 414px;
	right: 51px;
}

#u2325,
#u496,
#u504,
#u512,
#u520,
#u528 {
	width: 20px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u531 {
	width: 20px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u531:hover {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u531.MuseMenuActive {
	width: 20px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u534-3 {
	width: 20px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u523.MuseMenuActive #u524-3,
#u531:hover #u534-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u531.MuseMenuActive #u534-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2334,
#u278,
#u319,
#u341,
#u389,
#u373 {
	position: absolute;
	width: 117px;
	background-color: transparent;
}

#u373popup {
	z-index: 493;
}

#u374 {
	z-index: 494;
	width: 117px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/menu_background.png") no-repeat center
		top;
	background-size: contain;
}

#u375-4 {
	z-index: 495;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1px;
}

#pu240 {
	width: 0.01px;
	margin-left: 347px;
	margin-top: -394px;
}

#u240 {
	z-index: 18;
	width: 410px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
	background: transparent url("../images/dj_01_back.png") no-repeat center top;
}

#u263-4 {
	z-index: 21;
	width: 398px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 3px;
}

#u247 {
	z-index: 19;
	width: 337px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	background: transparent url("../images/dj_02_back.png") no-repeat center top;
	left: -130px;
}

#u264-4 {
	z-index: 25;
	width: 330px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 7px;
}

#u158 {
	z-index: 8;
	width: 364px;
	height: 246px;
	position: fixed;
	top: 604px;
	left: 418px;
	background: transparent url("../images/geo_01.png") no-repeat center top;
}

#u255 {
	z-index: 20;
	width: 337px;
	padding-bottom: 16px;
	margin-left: 565px;
	top: -313px;
	margin-bottom: -80px;
	position: relative;
	background: transparent url("../images/dj_03_back.png") no-repeat center top;
}

#u265-4 {
	z-index: 29;
	width: 330px;
	min-height: 47px;
	background-color: transparent;
	line-height: 25px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u2072 {
	z-index: 33;
	width: 65px;
	height: 41px;
	margin-left: 553px;
	margin-top: 26px;
	position: relative;
	background: transparent url("../images/btn_down_01.png") no-repeat left top;
	background-size: contain;
}

#u2072:active {
	width: 65px;
	height: 41px;
	min-height: 0px;
	margin: 26px 0px 0px 553px;
	background: transparent url("../images/btn_down_02.png") no-repeat left top;
	background-size: contain;
}

#pu1048 {
	width: 0.01px;
	margin-left: -100px;
}

#u1048 {
	z-index: 2;
	min-height: 4990px;
	background: transparent url("../images/background_pattern-u1048-fr.png")
		repeat-y center top;
}

#u1048_align_to_page {
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#about {
	left: 130px;
	position: relative;
}

#u2282 {
	z-index: 34;
	width: 65px;
	height: 41px;
	left: 651px;
	margin-top: 863px;
	position: relative;
	background: transparent url("../images/btn_down_01.png") no-repeat left top;
	background-size: contain;
}

#u2091 {
	z-index: 135;
	width: 65px;
	height: 41px;
	left: 651px;
	margin-top: 863px;
	position: relative;
	background: transparent url("../images/btn_down_01.png") no-repeat left top;
	background-size: contain;
}

#u2282:active,
#u2091:active {
	width: 65px;
	height: 41px;
	min-height: 0px;
	margin: 863px 0px 0px;
	background: transparent url("../images/btn_down_02.png") no-repeat left top;
	background-size: contain;
}

#lineup,
#tickets {
	left: 130px;
	margin-top: 78px;
	position: relative;
}

#u2096 {
	z-index: 189;
	width: 65px;
	height: 41px;
	left: 653px;
	margin-top: 861px;
	position: relative;
	background: transparent url("../images/btn_down_01.png") no-repeat left top;
	background-size: contain;
}

#sponsors {
	left: 130px;
	margin-top: 80px;
	position: relative;
}

#u2100 {
	z-index: 299;
	width: 65px;
	height: 41px;
	left: 651px;
	margin-top: 861px;
	position: relative;
	background: transparent url("../images/btn_down_01.png") no-repeat left top;
	background-size: contain;
}

#u2096:active,
#u2100:active {
	width: 65px;
	height: 41px;
	min-height: 0px;
	margin: 861px 0px 0px;
	background: transparent url("../images/btn_down_02.png") no-repeat left top;
	background-size: contain;
}

.js #u2072.ose_pre_init,
.js #u2282.ose_pre_init,
.js #u2091.ose_pre_init,
.js #u2096.ose_pre_init,
.js #u2100.ose_pre_init {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#contact {
	left: 130px;
	margin-top: 111px;
	position: relative;
}

#u858-10 {
	z-index: 307;
	width: 540px;
	min-height: 85px;
	background-color: transparent;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	left: 415px;
	margin-top: 856px;
	position: relative;
}

#u858-2 {
	line-height: 17px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u858-4,
#u858-8 {
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u1048-bw {
	z-index: 2;
	min-height: 4990px;
}

#u2238-4 {
	z-index: 41;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 510px;
}

#pamphletu2239 {
	z-index: 45;
	width: 0.01px;
	height: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 195px;
}

#u2241 {
	z-index: 46;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 465px;
}

#u2244 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u2244:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u2289 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 30px;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u2289:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u2248popup {
	z-index: 49;
}

#u2271 {
	z-index: 50;
	width: 790px;
	height: 456px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/about_event_background.png") no-repeat
		center center;
}

#u2558 {
	z-index: 51;
	width: 570px;
	min-height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 110px;
}

#u2290 {
	z-index: 52;
	width: 790px;
	height: 456px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/about_event_background.png") no-repeat
		center center;
}

#u2557-11 {
	z-index: 53;
	width: 540px;
	min-height: 329px;
	background-color: transparent;
	color: #ffffff;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 125px;
}

#u2240 {
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #dedede;
	top: 175px;
	background: transparent url("../images/btn_prev_composition_01.png") no-repeat
		center top;
}

#u2245 {
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #dedede;
	top: 175px;
	left: 896px;
	background: transparent url("../images/btn_next_composition_01.png") no-repeat
		center top;
}

#u914-4 {
	z-index: 72;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1094px;
	left: 510px;
}

#pamphletu662 {
	z-index: 76;
	width: 0.01px;
	height: 658px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1131px;
	left: 195px;
}

#u663 {
	z-index: 77;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 634px;
	left: 449px;
}

#u665 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u665:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u767 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 31px;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u767:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u779 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 61px;
	background: transparent url("../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u779:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u2244.PamphletThumbSelected,
#u2289.PamphletThumbSelected,
#u665.PamphletThumbSelected,
#u767.PamphletThumbSelected,
#u779.PamphletThumbSelected {
	border-style: none;
	border-color: transparent;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u2248,
#u667 {
	position: absolute;
	width: 790px;
	background-color: transparent;
	left: 95px;
}

#u667popup {
	z-index: 81;
}

#u669 {
	z-index: 82;
	width: 569px;
	height: 584px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 110px 24px 111px;
}

#u697 {
	z-index: 83;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
	background: transparent
		url("../images/DJS/MIKA-SPIELZIMMER/LogoSpielzimmer.png") no-repeat center
		top / contain;
}

#u698 {
	z-index: 84;
	width: 569px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	background: transparent url("../images/dj_01_back_big.png") no-repeat left top;
}

#u699-4 {
	z-index: 85;
	width: 540px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u700-4 {
	z-index: 89;
	width: 540px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#buttonu705 {
	z-index: 97;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu705:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u706 {
	z-index: 98;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu705:hover #u706 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu701 {
	z-index: 93;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu701:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

/* #u702
{
	z-index: 94;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_tw_02.png") no-repeat center center;
}

#buttonu701:hover #u702
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_tw_01.png") no-repeat center center;
} */

#u702 {
	z-index: 94;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/play.png") no-repeat center center;
}

#buttonu701:hover #u702 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/play-white.png") no-repeat center
		center;
}

#buttonu703 {
	z-index: 95;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu703:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u704 {
	z-index: 96;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu703:hover #u704 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_mc_01.png") no-repeat center
		center;
}

#u768 {
	z-index: 99;
	width: 569px;
	height: 584px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 110px 24px 111px;
}

#u781 {
	z-index: 100;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
	background: transparent url("../images/DJS/ABDUCTED/abducted.png") no-repeat
		center top / contain;
}

#u782 {
	z-index: 101;
	width: 569px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	background: transparent url("../images/dj_01_back_big.png") no-repeat left top;
}

#u783-4 {
	z-index: 102;
	width: 540px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u784-4 {
	z-index: 106;
	width: 540px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#buttonu789 {
	z-index: 114;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu789:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u790 {
	z-index: 115;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu789:hover #u790 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu785 {
	z-index: 110;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu785:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u786 {
	z-index: 111;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu785:hover #u786 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_tw_01.png") no-repeat center
		center;
}

#buttonu787 {
	z-index: 112;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu787:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u788 {
	z-index: 113;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu787:hover #u788 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_mc_01.png") no-repeat center
		center;
}

#u780 {
	z-index: 116;
	width: 569px;
	height: 584px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 110px 24px 111px;
}

#pu697,
#pu781,
#pu791 {
	width: 0.01px;
	margin-left: -1px;
}
.apl-abducted {
	z-index: 117;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
	background: transparent url("../images/DJS/ABDUCTED/abducted-logo.png")
		no-repeat center top / contain;
}
#u791 {
	z-index: 117;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
	background: transparent url("../images/DJS/DRAFT-PETER/logo.png") no-repeat
		center top / contain;
}

#u792 {
	z-index: 118;
	width: 569px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	background: transparent url("../images/dj_01_back_big.png") no-repeat left top;
}

#u793-4 {
	z-index: 119;
	width: 540px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #ffffff;
	font-size: 48px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u794-4 {
	z-index: 123;
	width: 540px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#pbuttonu705,
#pbuttonu789,
#pbuttonu799 {
	width: 0.01px;
	margin-left: 177px;
	margin-top: 21px;
}

#buttonu799 {
	z-index: 131;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu799:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u800 {
	z-index: 132;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu799:hover #u800 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu795 {
	z-index: 127;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu795:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u796 {
	z-index: 128;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu795:hover #u796 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_tw_01.png") no-repeat center
		center;
}

#buttonu797 {
	z-index: 129;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu797:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#buttonu705.ButtonSelected,
#buttonu701.ButtonSelected,
#buttonu703.ButtonSelected,
#buttonu789.ButtonSelected,
#buttonu785.ButtonSelected,
#buttonu787.ButtonSelected,
#buttonu799.ButtonSelected,
#buttonu795.ButtonSelected,
#buttonu797.ButtonSelected {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#u798 {
	z-index: 130;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu797:hover #u798 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_mc_01.png") no-repeat center
		center;
}

#u673 {
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #dedede;
	top: 245px;
	background: transparent url("../images/btn_prev_composition_01.png") no-repeat
		center top;
}

#u2240:hover,
#u673:hover {
	width: 85px;
	height: 135px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/btn_prev_composition_02.png") no-repeat
		center top;
}

#u671 {
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #dedede;
	top: 245px;
	left: 896px;
	background: transparent url("../images/btn_next_composition_01.png") no-repeat
		center top;
}

#u2245:hover,
#u671:hover {
	width: 85px;
	height: 135px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/btn_next_composition_02.png") no-repeat
		center top;
}

#u913-4 {
	z-index: 168;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2070px;
	left: 510px;
}

#u916-4 {
	z-index: 172;
	width: 600px;
	min-height: 48px;
	background-color: transparent;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2622px;
	left: 385px;
}

#u921-4 {
	z-index: 198;
	width: 540px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3160px;
	left: 415px;
}

#pamphletu960 {
	z-index: 212;
	width: 0.01px;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3689px;
	left: 589px;
}

#u969 {
	z-index: 213;
	width: 186px;
	position: relative;
	margin-right: -10000px;
}

#u971 {
	position: absolute;
	width: 186px;
	border-color: #dedede;
	background-color: transparent;
}

#u975-4 {
	z-index: 215;
	width: 186px;
	min-height: 66px;
	text-align: center;
	text-indent: 5px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_buy_ticket_01.png") no-repeat
		center center;
}

#u971:hover #u975-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_buy_ticket_01.png") no-repeat
		center center;
}

#u971:active #u975-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_buy_ticket_02.png") no-repeat
		center center;
}

#u971.PamphletThumbSelected #u975-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_buy_ticket_01.png") no-repeat
		center center;
}

#u971:hover #u975-4 p {
	color: #8439a8;
	visibility: inherit;
}

#u971:active #u975-4 p {
	color: #3b154d;
	visibility: inherit;
	padding-bottom: 16px;
	padding-top: 22px;
}

#u971.PamphletThumbSelected #u975-4 p {
	color: #000000;
	visibility: inherit;
	padding-bottom: 19px;
	padding-top: 19px;
}

#u965 {
	position: absolute;
	width: 834px;
	background-color: #312341;
	background-color: rgba(27, 11, 44, 0.9);
	padding-bottom: 44px;
	top: -446px;
	left: -321px;
	-pie-background: rgba(27, 11, 44, 0.9);
}

#u965popup {
	z-index: 219;
}

#u967 {
	z-index: 220;
	width: 790px;
	height: 424px;
	border-style: none;
	border-color: #999999;
	background-color: #8439a8;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1000-4 {
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 30px;
}

#u1000-4 {
	z-index: 240;
	width: 350px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #ffffff;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u976-19 {
	z-index: 221;
	width: 350px;
	min-height: 294px;
	background-color: transparent;
	color: #ffffff;
	margin-top: 27px;
	position: relative;
}

#u976-2,
#u976-3,
#u976-5,
#u976-6,
#u976-8,
#u976-9,
#u976-11,
#u976-12,
#u976-13,
#u976-15 {
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u976-17 {
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#widgetu977 {
	z-index: 244;
	width: 0.01px;
	height: 346px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 414px;
}

#widgetu979 {
	z-index: 245;
	width: 348px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu979.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 348px;
	height: 52px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u981-3 {
	z-index: 246;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 267px;
}

#u982-4 {
	z-index: 249;
	width: 334px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu979.non-empty-st #u982-4 {
	background-color: #ffffff;
}

#widgetu979:hover #u982-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu979.focus-st #u982-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu979.non-empty-st #u982-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu979:hover #u982-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu979.focus-st #u982-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu979_input,
#widgetu979_prompt {
	width: 334px;
	min-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 18px 6px;
}

#widgetu983 {
	z-index: 253;
	width: 348px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu983.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 348px;
	height: 52px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u986-3 {
	z-index: 254;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 253px;
}

#u984-4 {
	z-index: 257;
	width: 334px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu983.non-empty-st #u984-4 {
	background-color: #ffffff;
}

#widgetu983:hover #u984-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu983.focus-st #u984-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu979.fld-err-st #u982-4,
#widgetu983.fld-err-st #u984-4 {
	border-color: #d7244c;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu983.non-empty-st #u984-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu983:hover #u984-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu983.focus-st #u984-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu983_input,
#widgetu983_prompt {
	width: 334px;
	min-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#u987-4 {
	z-index: 261;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#u993-4 {
	z-index: 265;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #ff0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#u988-4 {
	z-index: 269;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00ff00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#widgetu977.frm-sub-st #u987-4,
#widgetu977.frm-subm-err-st #u993-4,
#widgetu977.frm-subm-ok-st #u988-4 {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 42px;
}

#widgetu977.frm-subm-ok-st #u988-4 p {
	color: #999999;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u978-17 {
	z-index: 273;
	min-height: 66px;
	width: 186px;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 162px;
	background: url("../images/btn_buy_ticket_01-u978-17.png") no-repeat 0px 0px;
}

#u978-17:hover {
	background: url("../images/btn_buy_ticket_01-u978-17-r.png") no-repeat 0px 0px;
}

#u978-17:active {
	background: url("../images/btn_buy_ticket_02-u978-17-m.png") no-repeat 0px 0px;
}

#widgetu977.frm-sub-st #u978-17 {
	background: url("../images/btn_buy_ticket_01-u978-17-fs.png") no-repeat 0px
		0px;
}

#widgetu989 {
	z-index: 290;
	width: 348px;
	height: 152px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu989.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 348px;
	height: 152px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u991-3 {
	z-index: 291;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 261px;
}

#u992-4 {
	z-index: 294;
	width: 334px;
	min-height: 114px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu989.non-empty-st #u992-4 {
	background-color: #ffffff;
}

#widgetu989:hover #u992-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu989.focus-st #u992-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu989.fld-err-st #u992-4 {
	border-color: #d7244c;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu989.non-empty-st #u992-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu989:hover #u992-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu989.focus-st #u992-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu989_input,
#widgetu989_prompt {
	width: 334px;
	min-height: 114px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#u973 {
	position: absolute;
	width: 50px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	top: -424px;
	left: 491px;
	background: #3b154d url("../images/close_button.png") no-repeat center center;
}

#u973:hover {
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #523f63 url("../images/close_button-u973-r-fr.png") no-repeat
		center center;
	background-color: rgba(39, 16, 61, 0.8);
}

#u1026 {
	z-index: 306;
	width: 546px;
	height: 366px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4244px;
	left: 412px;
	background: transparent url("../images/contact_form_background.png") no-repeat
		center center;
}

#u922-4 {
	z-index: 317;
	width: 601px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4158px;
	left: 384px;
}

#u1034-4 {
	z-index: 321;
	width: 601px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4680px;
	left: 384px;
}

#widgetu1009 {
	z-index: 325;
	width: 0.01px;
	height: 372px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4278px;
	left: 466px;
}

#widgetu1010 {
	z-index: 326;
	width: 440px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1010.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 52px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1011-3 {
	z-index: 327;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 267px;
}

#widgetu979.fld-err-st #u981-3,
#widgetu1010.fld-err-st #u1011-3 {
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 16px -10000px 0px 0px;
}

#u1012-4 {
	z-index: 330;
	width: 426px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1010.non-empty-st #u1012-4 {
	background-color: #ffffff;
}

#widgetu1010:hover #u1012-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1010.focus-st #u1012-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1010.non-empty-st #u1012-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1010:hover #u1012-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu1010.focus-st #u1012-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1010_input,
#widgetu1010_prompt {
	width: 426px;
	min-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 18px 6px;
}

#widgetu1015 {
	z-index: 334;
	width: 440px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu1015.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 52px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u1016-3 {
	z-index: 335;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 253px;
}

#widgetu983.fld-err-st #u986-3,
#widgetu1015.fld-err-st #u1016-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 15px -10000px 0px 0px;
}

#u1017-4 {
	z-index: 338;
	width: 426px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1015.non-empty-st #u1017-4 {
	background-color: #ffffff;
}

#widgetu1015:hover #u1017-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1015.focus-st #u1017-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1010.fld-err-st #u1012-4,
#widgetu1015.fld-err-st #u1017-4 {
	border-color: #d7244c;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1015.non-empty-st #u1017-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1015:hover #u1017-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu1015.focus-st #u1017-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1015_input,
#widgetu1015_prompt {
	width: 426px;
	min-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#u1019-4 {
	z-index: 342;
	width: 349px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 45px;
}

#widgetu977.frm-sub-st #u987-4 p,
#widgetu1009.frm-sub-st #u1019-4 p {
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1014-4 {
	z-index: 346;
	width: 349px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #ff0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 45px;
}

#widgetu1009.frm-sub-st #u1019-4,
#widgetu1009.frm-subm-err-st #u1014-4 {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu977.frm-subm-err-st #u993-4 p,
#widgetu1009.frm-subm-err-st #u1014-4 p {
	color: #d7244c;
	line-height: 1;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1020-4 {
	z-index: 350;
	width: 349px;
	min-height: 13px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00ff00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 45px;
}

#widgetu1009.frm-subm-ok-st #u1020-4 {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 17px;
}

#widgetu1009.frm-subm-ok-st #u1020-4 p {
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1025-17 {
	z-index: 354;
	min-height: 66px;
	width: 186px;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 124px;
	background: url("../images/btn_buy_ticket_01-u1025-17.png") no-repeat 0px 0px;
}

#u1025-17:hover {
	background: url("../images/btn_buy_ticket_01-u1025-17-r.png") no-repeat 0px
		0px;
}

#u1025-17:active {
	background: url("../images/btn_buy_ticket_02-u1025-17-m.png") no-repeat 0px
		0px;
}

#widgetu1009.frm-sub-st #u1025-17 {
	background: url("../images/btn_buy_ticket_01-u1025-17-fs.png") no-repeat 0px
		0px;
}

#widgetu1021 {
	z-index: 371;
	width: 440px;
	height: 152px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu1021.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 152px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u1022-3 {
	z-index: 372;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 261px;
}

#widgetu989.fld-err-st #u991-3,
#widgetu1021.fld-err-st #u1022-3 {
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 18px -10000px 0px 0px;
}

#widgetu979.fld-err-st #u981-3 p,
#widgetu979.fld-err-st #u981-3 span,
#widgetu983.fld-err-st #u986-3 p,
#widgetu983.fld-err-st #u986-3 span,
#widgetu989.fld-err-st #u991-3 p,
#widgetu989.fld-err-st #u991-3 span,
#widgetu1010.fld-err-st #u1011-3 p,
#widgetu1010.fld-err-st #u1011-3 span,
#widgetu1015.fld-err-st #u1016-3 p,
#widgetu1015.fld-err-st #u1016-3 span,
#widgetu1021.fld-err-st #u1022-3 p,
#widgetu1021.fld-err-st #u1022-3 span {
	color: #d7244c;
}

#u1023-4 {
	z-index: 375;
	width: 426px;
	min-height: 114px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 14px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1021.non-empty-st #u1023-4 {
	background-color: #ffffff;
}

#widgetu1021:hover #u1023-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1021.focus-st #u1023-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1021.fld-err-st #u1023-4 {
	border-color: #d7244c;
	background-color: #ffffff;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1021.non-empty-st #u1023-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1021:hover #u1023-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu1021.focus-st #u1023-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu979.fld-err-st #u982-4 *,
#widgetu983.fld-err-st #u984-4 *,
#widgetu989.fld-err-st #u992-4 *,
#widgetu1010.fld-err-st #u1012-4 *,
#widgetu1015.fld-err-st #u1017-4 *,
#widgetu1021.fld-err-st #u1023-4 * {
	color: #d7244c;
	font-style: normal;
}

#widgetu1021_input,
#widgetu1021_prompt {
	width: 426px;
	min-height: 114px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#widgetu979.focus-st #widgetu979_prompt,
#widgetu983.focus-st #widgetu983_prompt,
#widgetu989.focus-st #widgetu989_prompt,
#widgetu1010.focus-st #widgetu1010_prompt,
#widgetu1015.focus-st #widgetu1015_prompt,
#widgetu1021.focus-st #widgetu1021_prompt {
	padding-top: 18px;
	padding-bottom: 18px;
	visibility: hidden;
}

#widgetu979:hover #widgetu979_input,
#widgetu979.focus-st #widgetu979_input,
#widgetu979.fld-err-st #widgetu979_input,
#widgetu979:hover #widgetu979_prompt,
#widgetu979.fld-err-st #widgetu979_prompt,
#widgetu983:hover #widgetu983_input,
#widgetu983.focus-st #widgetu983_input,
#widgetu983.fld-err-st #widgetu983_input,
#widgetu983:hover #widgetu983_prompt,
#widgetu983.fld-err-st #widgetu983_prompt,
#widgetu989:hover #widgetu989_input,
#widgetu989.focus-st #widgetu989_input,
#widgetu989.fld-err-st #widgetu989_input,
#widgetu989:hover #widgetu989_prompt,
#widgetu989.fld-err-st #widgetu989_prompt,
#widgetu1010:hover #widgetu1010_input,
#widgetu1010.focus-st #widgetu1010_input,
#widgetu1010.fld-err-st #widgetu1010_input,
#widgetu1010:hover #widgetu1010_prompt,
#widgetu1010.fld-err-st #widgetu1010_prompt,
#widgetu1015:hover #widgetu1015_input,
#widgetu1015.focus-st #widgetu1015_input,
#widgetu1015.fld-err-st #widgetu1015_input,
#widgetu1015:hover #widgetu1015_prompt,
#widgetu1015.fld-err-st #widgetu1015_prompt,
#widgetu1021:hover #widgetu1021_input,
#widgetu1021.focus-st #widgetu1021_input,
#widgetu1021.fld-err-st #widgetu1021_input,
#widgetu1021:hover #widgetu1021_prompt,
#widgetu1021.fld-err-st #widgetu1021_prompt {
	padding-top: 18px;
	padding-bottom: 18px;
}

#widgetu979.non-empty-st #widgetu979_prompt,
#widgetu983.non-empty-st #widgetu983_prompt,
#widgetu989.non-empty-st #widgetu989_prompt,
#widgetu1010.non-empty-st #widgetu1010_prompt,
#widgetu1015.non-empty-st #widgetu1015_prompt,
#widgetu1021.non-empty-st #widgetu1021_prompt {
	visibility: hidden;
}

#buttonu1035 {
	z-index: 379;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 4754px;
	left: 656px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu1035:hover {
	width: 58px;
	min-height: 0px;
	margin: 4754px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u1036 {
	z-index: 380;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu1035:hover #u1036 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_tw_01.png") no-repeat center
		center;
}

#buttonu701.ButtonSelected #u702,
#buttonu785.ButtonSelected #u786,
#buttonu795.ButtonSelected #u796,
#buttonu1035.ButtonSelected #u1036 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu1037 {
	z-index: 381;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 4754px;
	left: 734px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu1037:hover {
	width: 58px;
	min-height: 0px;
	margin: 4754px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#u1038 {
	z-index: 382;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu1037:hover #u1038 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_mc_01.png") no-repeat center
		center;
}

#buttonu703.ButtonSelected #u704,
#buttonu787.ButtonSelected #u788,
#buttonu797.ButtonSelected #u798,
#buttonu1037.ButtonSelected #u1038 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu1039 {
	z-index: 383;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 4754px;
	left: 578px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#buttonu1039:hover {
	width: 58px;
	min-height: 0px;
	margin: 4754px -10000px 0px 0px;
	background: transparent url("../images/btn_social_02.png") no-repeat left top;
}

#buttonu1035.ButtonSelected,
#buttonu1037.ButtonSelected,
#buttonu1039.ButtonSelected {
	width: 58px;
	min-height: 0px;
	margin: 4754px -10000px 0px 0px;
	background: transparent url("../images/btn_social_01.png") no-repeat left top;
}

#u1040 {
	z-index: 384;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu1039:hover #u1040 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu705.ButtonSelected #u706,
#buttonu789.ButtonSelected #u790,
#buttonu799.ButtonSelected #u800,
#buttonu1039.ButtonSelected #u1040 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/social_fb_02.png") no-repeat center
		center;
}

#pu146-6 {
	width: 0.01px;
	padding-bottom: 4877px;
	margin-left: -50px;
	margin-top: -4917px;
}

#u146-6 {
	z-index: 391;
	width: 335px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	color: #ffffff;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 40px;
	left: 50px;
}

#u860 {
	z-index: 142;
	width: 750px;
	height: 284px;
	position: fixed;
	top: 3245px;
	left: 125px;
	background: transparent url("../images/registration-bg.png") no-repeat left
		top;
}

#u895-4 {
	z-index: 143;
	width: 186px;
	min-height: 66px;
	text-indent: 8px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	top: 3459px;
	left: 194px;
	background: transparent url("../images/btn_buy_ticket_01.png") no-repeat
		center center;
	top: auto !important;
	position: absolute;
	display: block !important;
}

#u898-4 {
	z-index: 151;
	width: 179px;
	min-height: 28px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3324px;
	left: 201px;
}

#u896-4 {
	z-index: 157;
	width: 179px;
	min-height: 85px;
	background-color: transparent;
	line-height: 72px;
	color: #ffffff;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3353px;
	left: 201px;
	visibility: hidden;
	opacity: 0;
}
#u896-4 p {
	margin-left: 10px;
}
#u852 {
	z-index: 302;
	width: 716px;
	height: 655px;
	position: fixed;
	top: 5142px;
	left: 200px;
	background: transparent url("../images/geo_04.png") no-repeat center top;
}

#u233 {
	z-index: 68;
	width: 716px;
	height: 655px;
	position: fixed;
	top: 2142px;
	left: 220px;
	background: transparent url("../images/geo_04.png") no-repeat center top;
}

#u829 {
	z-index: 138;
	width: 716px;
	height: 655px;
	position: fixed;
	top: 3142px;
	left: 220px;
	background: transparent url("../images/geo_04.png") no-repeat center top;
}

#u840 {
	z-index: 192;
	width: 716px;
	height: 655px;
	position: fixed;
	top: 4142px;
	left: 220px;
	background: transparent url("../images/geo_04.png") no-repeat center top;
}

#u2293 {
	z-index: 37;
	width: 716px;
	height: 655px;
	position: fixed;
	top: 1141px;
	left: 227px;
	background: transparent url("../images/geo_04.png") no-repeat center top;
}

#u854 {
	z-index: 303;
	width: 527px;
	height: 579px;
	position: fixed;
	top: 5149px;
	left: 259px;
	background: transparent url("../images/geo_03.png") no-repeat center top;
}

#u231 {
	z-index: 70;
	width: 267px;
	height: 541px;
	position: fixed;
	top: 2312px;
	left: 284px;
	background: transparent url("../images/geo_02.png") no-repeat center top;
}

#u833 {
	z-index: 140;
	width: 267px;
	height: 541px;
	position: fixed;
	top: 3312px;
	left: 284px;
	background: transparent url("../images/geo_02.png") no-repeat center top;
}

#u995-3 {
	z-index: 194;
	width: 267px;
	min-height: 541px;
	position: fixed;
	top: 4312px;
	left: 284px;
	background: transparent url("../images/geo_02.png") no-repeat center top;
}

#u856 {
	z-index: 304;
	width: 267px;
	height: 541px;
	position: fixed;
	top: 5312px;
	left: 284px;
	background: transparent url("../images/geo_02.png") no-repeat center top;
}

#u2295 {
	z-index: 39;
	width: 267px;
	height: 541px;
	position: fixed;
	top: 1311px;
	left: 291px;
	background: transparent url("../images/geo_02.png") no-repeat center top;
}

#u232 {
	z-index: 69;
	width: 527px;
	height: 579px;
	position: fixed;
	top: 2149px;
	left: 299px;
	background: transparent url("../images/geo_03.png") no-repeat center top;
}

#u831 {
	z-index: 139;
	width: 527px;
	height: 579px;
	position: fixed;
	top: 3149px;
	left: 299px;
	background: transparent url("../images/geo_03.png") no-repeat center top;
}

#u842 {
	z-index: 193;
	width: 527px;
	height: 579px;
	position: fixed;
	top: 4149px;
	left: 299px;
	background: transparent url("../images/geo_03.png") no-repeat center top;
}

#buttonu942 {
	z-index: 210;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 4251px;
	left: 295px;
	background: transparent url("../images/partner_logo_background.png") no-repeat
		center center;
	visibility: hidden;
}

#u943 {
	z-index: 211;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/applie-logo.png") no-repeat center
		center;
	background-size: 120px;
	opacity: 0.6;
}

#buttonu942:hover #u943 {
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	opacity: 1;
}

#u2294 {
	z-index: 38;
	width: 527px;
	height: 579px;
	position: fixed;
	top: 1149px;
	left: 306px;
	background: transparent url("../images/geo_03.png") no-repeat center top;
}

#buttonu956 {
	z-index: 204;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 4422px;
	left: 395px;
	background: transparent url("../images/partner_logo_background.png") no-repeat
		center center;
	visibility: hidden;
}

#u957 {
	z-index: 205;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/partner_logo_sample-u943-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu942.ButtonSelected #u943,
#buttonu956:hover #u957 {
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/partner_logo_sample.png") no-repeat
		center center;
	background-size: contain;
}

#u230 {
	z-index: 71;
	width: 364px;
	height: 246px;
	position: fixed;
	top: 2605px;
	left: 418px;
	background: transparent url("../images/geo_01.png") no-repeat center top;
}

#u832 {
	z-index: 141;
	width: 364px;
	height: 246px;
	position: fixed;
	top: 3605px;
	left: 418px;
	background: transparent url("../images/geo_01.png") no-repeat center top;
}

#u845 {
	z-index: 197;
	width: 364px;
	height: 246px;
	position: fixed;
	top: 4605px;
	left: 418px;
	background: transparent url("../images/geo_01.png") no-repeat center top;
}

#u857 {
	z-index: 305;
	width: 364px;
	height: 246px;
	position: fixed;
	top: 5605px;
	left: 418px;
	background: transparent url("../images/geo_01.png") no-repeat center top;
}

#u2296 {
	z-index: 40;
	width: 364px;
	height: 246px;
	position: fixed;
	top: 1604px;
	left: 425px;
	background: transparent url("../images/geo_01.png") no-repeat center top;
}

#u868 {
	z-index: 135;
	width: 300px;
	height: 346px;
	position: fixed;
	top: 3245px;
	left: 435px;
	/* background: transparent url("../images/tickets_back_02.png") no-repeat left top; */
}

#u234 {
	z-index: 67;
	width: 423px;
	height: 294px;
	position: fixed;
	top: 2314px;
	left: 493px;
	background: transparent url("../images/geo_05.png") no-repeat center top;
}

#u828 {
	z-index: 137;
	width: 423px;
	height: 294px;
	position: fixed;
	top: 3314px;
	left: 493px;
	background: transparent url("../images/geo_05.png") no-repeat center top;
}

#u904-4 {
	z-index: 130;
	width: 193px;
	min-height: 28px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3324px;
	left: 492px;
}

#u906-4 {
	z-index: 156;
	width: 186px;
	min-height: 66px;
	text-indent: 8px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3459px;
	left: 492px;
	/* background: transparent url("../images/btn_buy_ticket_01.png") no-repeat
        center center; */
}

#u843 {
	z-index: 191;
	width: 423px;
	height: 294px;
	position: fixed;
	top: 4314px;
	left: 493px;
	background: transparent url("../images/geo_05.png") no-repeat center top;
}

#u2292 {
	z-index: 36;
	width: 423px;
	height: 294px;
	position: fixed;
	top: 1313px;
	left: 500px;
	background: transparent url("../images/geo_05.png") no-repeat center top;
}

#u905-4 {
	z-index: 135;
	width: 181px;
	min-height: 77px;
	background-color: transparent;
	line-height: 72px;
	color: #ffffff;
	font-size: 72px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3353px;
	left: 497px;
}

#buttonu923 {
	z-index: 202;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 4251px;
	left: 495px;
	background: transparent url("../images/partner_logo_background.png") no-repeat
		center center;
}

#u939 {
	z-index: 203;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url(../images/applie-logo.png) no-repeat center center;
	background-size: 120px;
	opacity: 0.6;
}

#buttonu956.ButtonSelected #u957,
#buttonu923:hover #u939 {
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	/* background: transparent url("../images/partner_logo_sample.png") no-repeat
        center center;
    background-size: contain; */
	opacity: 1;
}

#u235 {
	z-index: 66;
	width: 328px;
	height: 433px;
	position: fixed;
	top: 2073px;
	left: 511px;
	background: transparent url("../images/geo_06.png") no-repeat center top;
}

#u830 {
	z-index: 136;
	width: 328px;
	height: 433px;
	position: fixed;
	top: 3073px;
	left: 511px;
	background: transparent url("../images/geo_06.png") no-repeat center top;
	/* visibility: hidden; */
}

#u841 {
	z-index: 190;
	width: 328px;
	height: 433px;
	position: fixed;
	top: 4073px;
	left: 511px;
	background: transparent url("../images/geo_06.png") no-repeat center top;
}

#u855 {
	z-index: 300;
	width: 328px;
	height: 433px;
	position: fixed;
	top: 5073px;
	left: 511px;
	background: transparent url("../images/geo_06.png") no-repeat center top;
}

#u853 {
	z-index: 301;
	width: 423px;
	height: 294px;
	position: fixed;
	top: 5314px;
	left: 513px;
	background: transparent url("../images/geo_05.png") no-repeat center top;
}

#u2291 {
	z-index: 35;
	width: 328px;
	height: 433px;
	position: fixed;
	top: 1073px;
	left: 518px;
	background: transparent url("../images/geo_06.png") no-repeat center top;
}

#buttonu954 {
	z-index: 208;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 4422px;
	left: 595px;
	background: transparent url("../images/partner_logo_background.png") no-repeat
		center center;
	visibility: hidden;
}

#u955 {
	z-index: 209;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/partner_logo_sample-u943-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu923.ButtonSelected #u939,
#buttonu954:hover #u955 {
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/partner_logo_sample.png") no-repeat
		center center;
	background-size: contain;
}

#buttonu948 {
	z-index: 206;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 4251px;
	left: 695px;
	background: transparent url("../images/partner_logo_background.png") no-repeat
		center center;
	visibility: hidden;
}

#buttonu942.ButtonSelected,
#buttonu956.ButtonSelected,
#buttonu923.ButtonSelected,
#buttonu954.ButtonSelected,
#buttonu948.ButtonSelected {
	background-repeat: no-repeat;
	background-position: center center;
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u949 {
	z-index: 207;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/partner_logo_sample-u943-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu954.ButtonSelected #u955,
#buttonu948:hover #u949 {
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/partner_logo_sample.png") no-repeat
		center center;
	background-size: contain;
}

#buttonu948.ButtonSelected #u949 {
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/partner_logo_sample.png") no-repeat
		center center;
	background-size: contain;
}

#u876 {
	z-index: 176;
	width: 300px;
	height: 354px;
	position: fixed;
	top: 3245px;
	left: 745px;
	/* background: transparent url("../images/tickets_back_03.png") no-repeat left
        top; */
}

#u911-4 {
	z-index: 185;
	width: 206px;
	min-height: 28px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3324px;
	left: 802px;
}

#u912-4 {
	z-index: 177;
	width: 186px;
	min-height: 66px;
	text-indent: 8px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3459px;
	left: 812px;
	/* background: transparent url("../images/btn_buy_ticket_01.png") no-repeat
        center center; */
}

#u895-4:active,
#u906-4:active,
#u912-4:active {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px;
	background: transparent url("../images/btn_buy_ticket_02.png") no-repeat
		center center;
}

#u895-4:active p,
#u906-4:active p,
#u912-4:active p {
	padding-bottom: 16px;
	padding-top: 22px;
}

#u975-2,
#u895-2,
#u906-2,
#u912-2 {
	padding-bottom: 19px;
	padding-top: 19px;
}

#u910-4 {
	z-index: 181;
	width: 181px;
	min-height: 77px;
	background-color: transparent;
	line-height: 72px;
	color: #ffffff;
	font-size: 72px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 3353px;
	left: 817px;
}

#u147-6 {
	z-index: 403;
	width: 335px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	color: #ffffff;
	font-size: 18px;
	text-align: right;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 40px;
	right: 50px;
}

body {
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer {
	clear: both;
}

audio {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#apl-1 {
	z-index: 20;
	width: 410px;
	padding-bottom: 16px;
	margin-left: 380px;
	top: -245px;
	margin-bottom: -80px;
	position: relative;
	background: transparent url("../images/dj_01_back.png") no-repeat center top;
}

#apl-1-inner {
	z-index: 21;
	width: 375px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 3px;
}
#apl-2 {
	z-index: 19;
	width: 337px;
	padding-bottom: 17px;
	position: relative;
	left: 32vw;
	margin-top: -245px;
	background: transparent url("../images/dj_02_back.png") no-repeat center top;
}
#apl-2-inner {
	z-index: 25;
	width: 330px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 7px;
}
#registration-form {
	width: 650px;
	background: transparent url("../images/registration-bg.png") no-repeat center /
		cover;
	padding: 5rem 4rem;
	max-height: 5rem;
	overflow-y: scroll;
	position: relative;
	scrollbar-width: thin;
}
#registration-form .field-wrap {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 33.33%);
	margin-bottom: 0.5rem;
}
#registration-form .field-wrap input {
	padding: 10px;
}
#registration-form .radio-btn {
	text-align: left;
	font-size: 16px;
}
#registration-form .radio-btn .controls {
	position: relative;
	margin-bottom: 4px;
}
#registration-form .radio-btn input[type="radio"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#registration-form .radio-btn label::before {
	content: "";
	background: url(../images/menu_active-1.png) no-repeat center / contain;
	height: 21px;
	display: inline-block;
	width: 18px;
	vertical-align: middle;
	margin-right: 7px;
}
#registration-form .radio-btn input:checked + label::before {
	background: url(../images/menu_inactive.png) no-repeat center / contain;
}

.rwd-table {
	margin: 0 auto;
	min-width: 300px;
}
.rwd-table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
	padding-top: 0.5em;
}
.rwd-table td:last-child {
	padding-bottom: 0.5em;
}
.rwd-table td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}
@media (min-width: 480px) {
	.rwd-table td:before {
		display: none;
	}
}
.rwd-table th,
.rwd-table td {
	text-align: left;
}
@media (min-width: 480px) {
	.rwd-table th,
	.rwd-table td {
		display: table-cell;
		padding: 0.25em 0.5em;
	}
	.rwd-table th:first-child,
	.rwd-table td:first-child {
		padding-left: 0;
	}
	.rwd-table th:last-child,
	.rwd-table td:last-child {
		padding-right: 0;
	}
}

.rwd-table {
	background: #8554a569;
	color: #fff;
	border-radius: 0.4em;
	overflow: hidden;
	margin-top: 50px;
}
.rwd-table tr {
	border-color: #7c489b;
}
.rwd-table th,
.rwd-table td {
	margin: 0.5em 1em;
}
@media (min-width: 480px) {
	.rwd-table th,
	.rwd-table td {
		padding: 1em !important;
	}
}
.rwd-table th,
.rwd-table td:before {
	color: #fff;
	font-weight: bold;
	font-size: 23px;
	padding-left: 12px !important;
}
#u906-4 {
	visibility: hidden;
	opacity: 0;
}
