.version.index

/* version checker */ {
	color: #000006;
	background-color: #5e8d6c;
}

@-ms-viewport {
	width: 380px;
}

@-webkit-viewport {
	width: 380px;
}

@-o-viewport {
	width: 380px;
}

@-moz-viewport {
	width: 380px;
}

@viewport {
	width: 380px;
}

.html {
	background: #1b0b2c url("../../images/mobile_backround_01.jpg") repeat center
		top scroll;
	background-attachment: fixed;
}

#page {
	z-index: 1;
	width: 380px;
	min-height: 1999.8249999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content {
	width: 0.01px;
}

#home {
	position: relative;
}

#inviteForm {
	position: relative;
	width: 100%;
	display: table;
	z-index: 145;
}

#inviteForm .register-now {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	padding: 1rem;
}

#pamphletu1461 {
	z-index: 295;
	width: 0.01px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 322px;
}

#u1470 {
	z-index: 296;
	width: 58px;
	position: relative;
	margin-right: -10000px;
}

#u1473 {
	position: absolute;
	width: 58px;
	height: 68px;
	border-color: #dedede;
	background: transparent url("../../images/mobile_menu_normal.png") no-repeat
		center center;
	background-size: contain;
}

#u1473.PamphletThumbSelected {
	background-repeat: no-repeat;
	background-position: center center;
	width: 58px;
	height: 68px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1464 {
	position: absolute;
	width: 380px;
	background-color: transparent;
	left: -322px;
}

#u1464popup {
	z-index: 298;
}

#u1467 {
	z-index: 299;
	width: 300px;
	height: 240px;
	border-style: none;
	border-color: #999999;
	background-color: #483b56;
	background-color: rgba(27, 11, 44, 0.8);
	margin-right: -10000px;
	position: relative;
	padding: 32px 38px 728px 42px;
	-pie-background: rgba(27, 11, 44, 0.8);
}

#u2408-4 {
	z-index: 304;
	width: 300px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1492-4 {
	z-index: 300;
	width: 300px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1494-4 {
	z-index: 308;
	width: 300px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1495-4 {
	z-index: 316;
	width: 300px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1499-4 {
	z-index: 312;
	width: 300px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1498-4 {
	z-index: 320;
	width: 300px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2408-4:hover,
#u1492-4:hover,
#u1494-4:hover,
#u1495-4:hover,
#u1499-4:hover,
#u1498-4:hover {
	background-color: #8439a8;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 300px;
	margin: 0px;
}

#u2408-2,
#u1492-2,
#u1494-2,
#u1495-2,
#u1499-2,
#u1498-2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

#u1462 {
	position: absolute;
	width: 58px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/mobile_menu_close.png") no-repeat
		left top;
	background-size: contain;
}

.PamphletWidget .ThumbGroup .Thumb,
.PamphletNextButton,
.PamphletPrevButton,
.PamphletCloseButton

/* pamphlet2 */ {
	cursor: pointer;
}

#u1206-6 {
	z-index: 8;
	width: 191px;
	min-height: 35px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 95px;
	margin-top: 7px;
	position: relative;
}

#u1216-4 {
	z-index: 26;
	width: 190px;
	min-height: 30px;
	border-width: 5px;
	border-style: solid;
	border-color: #ffffff;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 90px;
	margin-top: 12px;
	position: relative;
}

#u1216-2 {
	padding-bottom: 7px;
	padding-top: 7px;
}

#u1224 {
	z-index: 2;
	width: 166px;
	height: 219px;
	position: fixed;
	top: 104px;
	left: 156px;
	background: transparent url("../../images/geo_06-u1224-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1217-4 {
	z-index: 30;
	width: 190px;
	min-height: 19px;
	background-color: transparent;
	line-height: 12px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 95px;
	margin-top: 9px;
	position: relative;
}

#u1226 {
	z-index: 4;
	width: 362px;
	height: 331px;
	position: fixed;
	top: 139px;
	left: 9px;
	background: transparent url("../../images/geo_04-u1226-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1227 {
	z-index: 5;
	width: 266px;
	height: 293px;
	position: fixed;
	top: 143px;
	left: 49px;
	background: transparent url("../../images/geo_03-u1227-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1209 {
	z-index: 25;
	width: 362px;
	height: 160px;
	margin-left: 9px;
	position: relative;
	background: transparent url("../../images/deep_sounds_logo.png") no-repeat
		center top;
	background-size: contain;
}

#pu1228 {
	width: 0.01px;
	padding-bottom: 274px;
	margin-left: 42px;
	margin-top: -24px;
}

#u1228 {
	z-index: 6;
	width: 135px;
	height: 274px;
	position: fixed;
	top: 225px;
	left: 42px;
	background: transparent url("../../images/geo_02-u1228-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1225 {
	z-index: 3;
	width: 214px;
	height: 149px;
	position: fixed;
	top: 226px;
	left: 147px;
	background: transparent url("../../images/geo_05-u1225-fr.png") no-repeat
		center top;
	background-size: contain;
}

#pu1218 {
	width: 0.01px;
	margin-left: 28px;
	margin-top: -228px;
}

#u1218 {
	z-index: 34;
	width: 279px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 45px;
	background: transparent url("../../images/dj_01_back-u1218-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1221-4 {
	z-index: 37;
	width: 260px;
	min-height: auto;
	background-color: transparent;
	line-height: 16px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 5px;
}

#u1219 {
	z-index: 35;
	width: 229px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	background: transparent url("../../images/dj_02_back-u1219-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1222-4 {
	z-index: 41;
	width: 216px;
	min-height: auto;
	background-color: transparent;
	line-height: 16px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 6px;
}

#u1220 {
	z-index: 36;
	width: 229px;
	padding-bottom: 10px;
	margin-left: 88px;
	top: -132px;
	margin-bottom: -54px;
	position: relative;
	background: transparent url("../../images/dj_03_back-u1220-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1223-4 {
	z-index: 45;
	width: 212px;
	min-height: auto;
	background-color: transparent;
	line-height: 16px;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 7px;
}

#u1229 {
	z-index: 7;
	width: 184px;
	height: 124px;
	position: fixed;
	top: 373px;
	left: 109px;
	background: transparent url("../../images/geo_01-u1229-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1208-11 {
	z-index: 14;
	width: 247px;
	min-height: 79px;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 66px;
	top: 15px;
	margin-bottom: -45px;
	position: relative;
}

#pu2542-4 {
	width: 0.01px;
	margin-top: 105px;
}

audio {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#registration-form {
	width: calc(100vw - 40px);
	background: transparent url("../../images/registration-bg.png") no-repeat
		center / cover;
	padding: 5rem 1rem;
	max-height: 20rem;
	overflow-y: scroll;
	scrollbar-width: thin;
	color: white;
	margin: 0 auto;
	display: block;
}

#registration-form .field-wrap {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 50%);
	margin-bottom: 0.5rem;
	grid-template-rows: repeat(2, auto);
}

#registration-form .field-wrap input {
	padding: 10px;
}

#registration-form .radio-btn {
	text-align: left;
	font-size: 16px;
}

#registration-form .radio-btn .controls {
	position: relative;
	margin-bottom: 4px;
}

#registration-form .radio-btn input[type="radio"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#registration-form .radio-btn label::before {
	content: "";
	background: url(../../images/menu_active-1.png) no-repeat center / contain;
	height: 21px;
	display: inline-block;
	width: 18px;
	vertical-align: middle;
	margin-right: 7px;
}

#registration-form .radio-btn input:checked + label::before {
	background: url(../../images/menu_inactive.png) no-repeat center / contain;
}

#registration-form .radio-btn {
	grid-column: 1/3;
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	grid-gap: 10px;
}

#u2542-4 {
	z-index: 57;
	width: 350px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#about {
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 3px;
}

#pu2534 {
	width: 0.01px;
	margin-left: 21px;
	margin-top: 33px;
}

#u2534 {
	z-index: 55;
	width: 340px;
	padding-bottom: 46px;
	position: relative;
	margin-right: -10000px;
	background: transparent
		url("../../images/about_event_background-u2534-fr.png") no-repeat left top;
	background-size: contain;
}

#u2543-4 {
	z-index: 61;
	width: 265px;
	max-height: 166px;
	overflow-y: auto;
	background-color: transparent;
	line-height: 14px;
	color: #ffffff;
	font-size: 12px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 38px;
}

#u2535 {
	z-index: 56;
	width: 340px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	background: transparent
		url("../../images/about_event_background2-u2535-fr.png") no-repeat center
		center;
	background-size: contain;
}

#u2544 {
	z-index: 65;
	width: 264px;
	min-height: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 38px;
}

#pu2530 {
	width: 0.01px;
	padding-bottom: 394px;
	margin-left: 9px;
	margin-top: -421px;
}

#u2530 {
	z-index: 51;
	width: 362px;
	height: 331px;
	position: fixed;
	top: 761px;
	left: 9px;
	background: transparent url("../../images/geo_04-u1226-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u2532 {
	z-index: 53;
	width: 135px;
	height: 274px;
	position: fixed;
	top: 847px;
	left: 42px;
	background: transparent url("../../images/geo_02-u1228-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u2531 {
	z-index: 52;
	width: 266px;
	height: 293px;
	position: fixed;
	top: 764px;
	left: 49px;
	background: transparent url("../../images/geo_03-u1227-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u2533 {
	z-index: 54;
	width: 184px;
	height: 124px;
	position: fixed;
	top: 995px;
	left: 109px;
	background: transparent url("../../images/geo_01-u1229-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u2529 {
	z-index: 50;
	width: 214px;
	height: 149px;
	position: fixed;
	top: 848px;
	left: 147px;
	background: transparent url("../../images/geo_05-u1225-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u2528 {
	z-index: 49;
	width: 166px;
	height: 219px;
	position: fixed;
	top: 726px;
	left: 156px;
	background: transparent url("../../images/geo_06-u1224-fr.png") no-repeat
		center top;
	background-size: contain;
}

#lineup {
	margin-top: 54px;
	position: relative;
}

#u1255-4 {
	z-index: 72;
	width: 350px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 17px;
	position: relative;
}

#pamphletu1256 {
	z-index: 76;
	width: 0.01px;
	height: 465px;
	margin-left: 10px;
	margin-top: 32px;
	position: relative;
}

#u1265 {
	position: absolute;
	width: 360px;
	background-color: transparent;
}

#u1265popup {
	z-index: 77;
}

#u1266 {
	z-index: 78;
	width: 336px;
	height: 407px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 7px;
	padding-right: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u1267 {
	z-index: 79;
	width: 314px;
	margin-left: 22px;
	position: relative;
	background: transparent
		url("../../images/DJS/MIKA-SPIELZIMMER/LogoSpielzimmer.png") no-repeat
		center top;
	background-size: contain;
}

#u1270 {
	z-index: 80;
	width: 350px;
	padding-bottom: 26px;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: -24px;
	background: transparent url("../../images/dj_01_back_big-u1270-fr.png")
		no-repeat center top;
	background-size: contain;
}

#u1269-4 {
	z-index: 81;
	width: 323px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u1268-4 {
	z-index: 85;
	width: 335px;
	min-height: 16px;
	background-color: transparent;
	line-height: 12px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 33px;
	position: relative;
}

#buttonu1273 {
	z-index: 93;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1273:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1274 {
	z-index: 94;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu1273:hover #u1274 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu1275 {
	z-index: 89;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
	cursor: pointer;
}

#buttonu1275:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#u1276 {
	z-index: 90;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/play.png") no-repeat center center;
}

#buttonu1275:hover #u1276 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/play.png") no-repeat center center;
}

#buttonu1271 {
	z-index: 91;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1271:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1272 {
	z-index: 92;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu1271:hover #u1272 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center
		center;
}

#u1300 {
	z-index: 95;
	width: 336px;
	height: 407px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 7px;
	padding-right: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u1313 {
	z-index: 96;
	width: 314px;
	margin-left: 22px;
	position: relative;
	background: transparent url("../../images/DJS/DRAFT-PETER/logo.png") no-repeat
		center top / contain;
}

#u1314 {
	z-index: 97;
	width: 350px;
	padding-bottom: 26px;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: -24px;
	background: transparent url("../../images/dj_01_back_big-u1270-fr.png")
		no-repeat center top;
	background-size: contain;
}

#u1315-4 {
	z-index: 98;
	width: 323px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u1316-4 {
	z-index: 102;
	width: 335px;
	min-height: 16px;
	background-color: transparent;
	line-height: 12px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 33px;
	position: relative;
}

#buttonu1321 {
	z-index: 110;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1321:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1322 {
	z-index: 111;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu1321:hover #u1322 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu1317 {
	z-index: 106;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1317:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1318 {
	z-index: 107;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu1317:hover #u1318 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center
		center;
}

#buttonu1319 {
	z-index: 108;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1319:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1320 {
	z-index: 109;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu1319:hover #u1320 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center
		center;
}

#u1312 {
	z-index: 112;
	width: 336px;
	height: 407px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	padding-left: 7px;
	padding-right: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u1323 {
	z-index: 113;
	width: 314px;
	margin-left: 22px;
	position: relative;
	background: transparent url("../../images/DJS/ABDUCTED/abducted.png")
		no-repeat center top;
	background-size: contain;
}

#u1324 {
	z-index: 114;
	width: 350px;
	padding-bottom: 26px;
	margin-bottom: -31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: -24px;
	background: transparent url("../../images/dj_01_back_big-u1270-fr.png")
		no-repeat center top;
	background-size: contain;
}

#u1325-4 {
	z-index: 115;
	width: 323px;
	min-height: 32px;
	background-color: transparent;
	line-height: 30px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u1326-4 {
	z-index: 119;
	width: 335px;
	min-height: 16px;
	background-color: transparent;
	line-height: 12px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 33px;
	position: relative;
}

#pbuttonu1273,
#pbuttonu1321,
#pbuttonu1331 {
	width: 0.01px;
	margin-left: 67px;
	margin-top: 27px;
}

#buttonu1331 {
	z-index: 127;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1331:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1332 {
	z-index: 128;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu1331:hover #u1332 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu1327 {
	z-index: 123;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1327:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#u1328 {
	z-index: 124;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu1327:hover #u1328 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center
		center;
}

#buttonu1329 {
	z-index: 125;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1329:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1330 {
	z-index: 126;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu1329:hover #u1330 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center
		center;
}

#u1257 {
	z-index: 129;
	width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 130px;
}

#u1258 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u1258:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u1299 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 40px;
	background: transparent url("../../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u1299:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u1311 {
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 80px;
	background: transparent url("../../images/menu_normal.png") no-repeat center
		center;
	background-size: contain;
}

#u1311:hover {
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u1258.PamphletThumbSelected,
#u1299.PamphletThumbSelected,
#u1311.PamphletThumbSelected {
	border-style: none;
	border-color: transparent;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center
		center;
	background-size: contain;
}

#u1261 {
	position: absolute;
	width: 60px;
	height: 95px;
	border-color: #dedede;
	top: 41px;
	left: 10px;
	background: transparent
		url("../../images/btn_prev_composition_01-u1261-fr.png") no-repeat center
		top;
	background-size: contain;
}

#u1261:hover {
	width: 60px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent
		url("../../images/btn_prev_composition_02-u1261-r-fr.png") no-repeat center
		top;
	background-size: contain;
}

#u1264 {
	position: absolute;
	width: 60px;
	height: 95px;
	border-color: #dedede;
	top: 41px;
	left: 290px;
	background: transparent
		url("../../images/btn_next_composition_01-u1264-fr.png") no-repeat center
		top;
	background-size: contain;
}

#u1264:hover {
	width: 60px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent
		url("../../images/btn_next_composition_02-u1264-r-fr.png") no-repeat center
		top;
	background-size: contain;
}

#u1250 {
	z-index: 66;
	width: 166px;
	height: 219px;
	position: fixed;
	top: 1324px;
	left: 156px;
	background: transparent url("../../images/geo_06-u1224-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1249 {
	z-index: 68;
	width: 362px;
	height: 331px;
	position: fixed;
	top: 1359px;
	left: 9px;
	background: transparent url("../../images/geo_04-u1226-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1251 {
	z-index: 69;
	width: 266px;
	height: 293px;
	position: fixed;
	top: 1362px;
	left: 49px;
	background: transparent url("../../images/geo_03-u1227-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1253 {
	z-index: 70;
	width: 135px;
	height: 274px;
	position: fixed;
	top: 1445px;
	left: 42px;
	background: transparent url("../../images/geo_02-u1228-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1252 {
	z-index: 67;
	width: 214px;
	height: 149px;
	position: fixed;
	top: 1446px;
	left: 147px;
	background: transparent url("../../images/geo_05-u1225-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1254 {
	z-index: 71;
	width: 184px;
	height: 124px;
	position: fixed;
	top: 1593px;
	left: 109px;
	background: transparent url("../../images/geo_01-u1229-fr.png") no-repeat
		center top;
	background-size: contain;
}

#tickets {
	margin-top: 65px;
	position: relative;
}

#u1345 {
	z-index: 135;
	width: 166px;
	height: 219px;
	position: fixed;
	top: 1837px;
	left: 156px;
	background: transparent url("../../images/geo_06-u1224-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1333-4 {
	z-index: 186;
	width: 350px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 17px;
	position: relative;
}

#pu1343 {
	width: 0.01px;
	padding-bottom: 331px;
	margin-left: 9px;
	margin-top: -17px;
}

#u1343 {
	z-index: 137;
	width: 362px;
	height: 331px;
	position: fixed;
	top: 1872px;
	left: 9px;
	background: transparent url("../../images/geo_04-u1226-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1342 {
	z-index: 138;
	width: 266px;
	height: 293px;
	position: fixed;
	top: 1875px;
	left: 49px;
	background: transparent url("../../images/geo_03-u1227-fr.png") no-repeat
		center top;
	background-size: contain;
}

#ppu1351 {
	width: 0.01px;
	margin-left: 21px;
	margin-top: -281px;
}

#pu1351 {
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 114px;
}

#u1351 {
	z-index: 160;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	padding: 39px 16px 13px 15px;
	background: transparent url("../../images/tickets_back_02-u1351-fr.png")
		no-repeat center top;
	background-size: contain;
}

#u1353-4 {
	z-index: 165;
	width: 80px;
	min-height: 38px;
	background-color: transparent;
	line-height: 30px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1352-4 {
	z-index: 161;
	width: 80px;
	min-height: 33px;
	text-indent: 8px;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
	background: transparent url("../../images/btn_buy_ticket_01-u1352-4-fr.png")
		no-repeat center center;
	background-size: contain;
}

#u1354-4 {
	z-index: 169;
	width: 80px;
	min-height: 23px;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u1347 {
	z-index: 145;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	padding: 39px 16px 16px 15px;
	background: transparent url("../../images/tickets_back_01-u1347-fr.png")
		no-repeat center top;
	background-size: contain;
}

#u1349-4 {
	z-index: 150;
	width: 80px;
	min-height: 38px;
	background-color: transparent;
	line-height: 30px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1348-4 {
	z-index: 146;
	width: 80px;
	min-height: 33px;
	text-indent: 8px;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
	background: transparent url("../../images/btn_buy_ticket_01-u1352-4-fr.png")
		no-repeat center center;
	background-size: contain;
}

#u1350-6 {
	z-index: 154;
	width: 80px;
	min-height: 22px;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 15px;
}

#u1355 {
	z-index: 173;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
	padding: 39px 16px 16px 15px;
	background: transparent url("../../images/tickets_back_03-u1355-fr.png")
		no-repeat center top;
	background-size: contain;
}

#u1357-4 {
	z-index: 178;
	width: 76px;
	min-height: 38px;
	background-color: transparent;
	line-height: 30px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	position: relative;
}

#u1356-4 {
	z-index: 174;
	width: 80px;
	min-height: 33px;
	text-indent: 8px;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 4px;
	position: relative;
	background: transparent url("../../images/btn_buy_ticket_01-u1352-4-fr.png")
		no-repeat center center;
	background-size: contain;
}

#u1352-4:active,
#u1348-4:active,
#u1356-4:active {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 80px;
	margin: 4px 0px 0px;
	background: transparent url("../../images/btn_buy_ticket_02-u1352-4-m-fr.png")
		no-repeat center center;
	background-size: contain;
}

#u1352-4:active p,
#u1348-4:active p,
#u1356-4:active p {
	padding-bottom: 6px;
	padding-top: 10px;
}

#u1352-2,
#u1348-2,
#u1356-2 {
	padding-bottom: 8px;
	padding-top: 8px;
}

#u1358-4 {
	z-index: 182;
	width: 80px;
	min-height: 23px;
	background-color: transparent;
	line-height: 10px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 244px;
}

#u1341 {
	z-index: 139;
	width: 135px;
	height: 274px;
	position: fixed;
	top: 1958px;
	left: 42px;
	background: transparent url("../../images/geo_02-u1228-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1344 {
	z-index: 136;
	width: 214px;
	height: 149px;
	position: fixed;
	top: 1959px;
	left: 147px;
	background: transparent url("../../images/geo_05-u1225-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1346-4 {
	z-index: 141;
	width: 320px;
	min-height: 90px;
	background-color: transparent;
	line-height: 20px;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	top: 0;
	margin-bottom: -90px;
	position: relative;
}

#u1340 {
	z-index: 140;
	width: 184px;
	height: 124px;
	position: fixed;
	top: 2106px;
	left: 109px;
	background: transparent url("../../images/geo_01-u1229-fr.png") no-repeat
		center top;
	background-size: contain;
}

#sponsors {
	margin-top: 53px;
	position: relative;
}

#u1414 {
	z-index: 190;
	width: 166px;
	height: 219px;
	position: fixed;
	top: 2303px;
	left: 156px;
	background: transparent url("../../images/geo_06-u1224-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1359-4 {
	z-index: 196;
	width: 350px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 22px;
	position: relative;
}

#pu1412 {
	width: 0.01px;
	padding-bottom: 331px;
	margin-left: 9px;
	margin-top: -15px;
}

#u1412 {
	z-index: 192;
	width: 362px;
	height: 331px;
	position: fixed;
	top: 2338px;
	left: 9px;
	background: transparent url("../../images/geo_04-u1226-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1411 {
	z-index: 193;
	width: 266px;
	height: 293px;
	position: fixed;
	top: 2342px;
	left: 49px;
	background: transparent url("../../images/geo_03-u1227-fr.png") no-repeat
		center top;
	background-size: contain;
}

#pbuttonu1372 {
	width: 0.01px;
	margin-left: 20px;
	margin-top: -281px;
}

#buttonu1372 {
	z-index: 200;
	width: 100px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent
		url("../../images/partner_logo_background-buttonu1372-fr.png") no-repeat
		center center;
	background-size: contain;
}

#u1373 {
	z-index: 201;
	width: 100px;
	height: 116px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1373-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1372:hover #u1373 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1376 {
	z-index: 202;
	width: 100px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 120px;
	background: transparent
		url("../../images/partner_logo_background-buttonu1372-fr.png") no-repeat
		center center;
	background-size: contain;
}

#u1377 {
	z-index: 203;
	width: 100px;
	height: 116px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/applie-logo.png") no-repeat center
		center;
	background-size: 70px;
}

#buttonu1372.ButtonSelected #u1373,
#buttonu1376:hover #u1377 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1388 {
	z-index: 204;
	width: 100px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 60px;
	background: transparent
		url("../../images/partner_logo_background-buttonu1372-fr.png") no-repeat
		center center;
	background-size: contain;
}

#buttonu1388.ButtonSelected {
	background-repeat: no-repeat;
	background-position: center center;
	width: 100px;
	min-height: 0px;
	margin: 103px -10000px 0px 0px;
	background-size: contain;
}

#u1389 {
	z-index: 205;
	width: 100px;
	height: 116px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1373-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1376.ButtonSelected #u1377,
#buttonu1388:hover #u1389 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1380 {
	z-index: 206;
	width: 100px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 240px;
	background: transparent
		url("../../images/partner_logo_background-buttonu1372-fr.png") no-repeat
		center center;
	background-size: contain;
}

#buttonu1372.ButtonSelected,
#buttonu1376.ButtonSelected,
#buttonu1380.ButtonSelected {
	background-repeat: no-repeat;
	background-position: center center;
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u1381 {
	z-index: 207;
	width: 100px;
	height: 116px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1373-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1388.ButtonSelected #u1389,
#buttonu1380:hover #u1381 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1380.ButtonSelected #u1381 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1386 {
	z-index: 208;
	width: 100px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 180px;
	background: transparent
		url("../../images/partner_logo_background-buttonu1372-fr.png") no-repeat
		center center;
	background-size: contain;
}

#buttonu1386.ButtonSelected {
	background-repeat: no-repeat;
	background-position: center center;
	width: 100px;
	min-height: 0px;
	margin: 102px -10000px 0px 0px;
	background-size: contain;
}

#u1387 {
	z-index: 209;
	width: 100px;
	height: 116px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../../images/partner_logo_sample-u1373-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1386:hover #u1387 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#buttonu1386.ButtonSelected #u1387 {
	width: 100px;
	height: 116px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample-u1373-r-fr.png")
		no-repeat center center;
	background-size: contain;
}

#pu1341,
#pu1410 {
	width: 0.01px;
	padding-bottom: 273px;
	margin-left: 42px;
	margin-top: -245px;
}

#u1410 {
	z-index: 194;
	width: 135px;
	height: 274px;
	position: fixed;
	top: 2424px;
	left: 42px;
	background: transparent url("../../images/geo_02-u1228-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1409 {
	z-index: 195;
	width: 184px;
	height: 124px;
	position: fixed;
	top: 2572px;
	left: 109px;
	background: transparent url("../../images/geo_01-u1229-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1413 {
	z-index: 191;
	width: 214px;
	height: 149px;
	position: fixed;
	top: 2425px;
	left: 147px;
	background: transparent url("../../images/geo_05-u1225-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1390-4 {
	z-index: 210;
	width: 140px;
	min-height: 52px;
	text-align: center;
	text-indent: 3px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2646px;
	left: 120px;
	background: transparent url("../../images/btn_buy_ticket_01-u1390-4-fr.png")
		no-repeat center center;
	background-size: contain;
}

#u1390-4:active {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 140px;
	margin: 0px;
	background: transparent url("../../images/btn_buy_ticket_02-u1390-4-m-fr.png")
		no-repeat center center;
	background-size: contain;
}

#u1390-4:active p {
	padding-bottom: 12px;
	padding-top: 18px;
}

#u1390-2 {
	padding-bottom: 15px;
	padding-top: 15px;
}

#contact {
	margin-top: 78px;
	position: relative;
}

#u1427 {
	z-index: 214;
	width: 166px;
	height: 219px;
	position: fixed;
	top: 2774px;
	left: 156px;
	background: transparent url("../../images/geo_06-u1224-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1425 {
	z-index: 216;
	width: 362px;
	height: 331px;
	position: fixed;
	top: 2808px;
	left: 9px;
	background: transparent url("../../images/geo_04-u1226-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1424 {
	z-index: 217;
	width: 266px;
	height: 293px;
	position: fixed;
	top: 2812px;
	left: 49px;
	background: transparent url("../../images/geo_03-u1227-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1415-4 {
	z-index: 220;
	width: 350px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 22px;
	position: relative;
}

#pu1428 {
	width: 0.01px;
	margin-left: 16px;
	margin-top: 31px;
}

#u1428 {
	z-index: 228;
	width: 340px;
	height: 228px;
	position: relative;
	margin-right: -10000px;
	left: 4px;
	background: transparent
		url("../../images/contact_form_background-u1428-fr.png") no-repeat center
		center;
	background-size: contain;
}

#widgetu1431 {
	z-index: 235;
	width: 0.01px;
	height: 262px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#widgetu1434 {
	z-index: 236;
	width: 316px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 33px;
}

#widgetu1434.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 316px;
	height: 36px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1435-3 {
	z-index: 237;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 267px;
}

#widgetu1434.fld-err-st #u1435-3 {
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 16px -10000px 0px 0px;
}

#u1436-4 {
	z-index: 240;
	width: 270px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 12px;
	font-size: 12px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px;
}

#widgetu1434.non-empty-st #u1436-4 {
	background-color: #ffffff;
}

#widgetu1434:hover #u1436-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 12px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1434.focus-st #u1436-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 12px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1434.non-empty-st #u1436-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1434:hover #u1436-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu1434.focus-st #u1436-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1443 {
	z-index: 244;
	width: 302px;
	height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 33px;
}

#widgetu1443.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 302px;
	height: 53px;
	min-height: 0px;
	margin: 41px -10000px 0px 0px;
}

#u1444-3 {
	z-index: 245;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 253px;
}

#widgetu1443.fld-err-st #u1444-3 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 33px -10000px 0px 0px;
}

#u1445-4 {
	z-index: 248;
	width: 270px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 12px;
	font-size: 12px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px;
}

#widgetu1443.non-empty-st #u1445-4 {
	background-color: #ffffff;
}

#widgetu1443:hover #u1445-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 12px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1443.focus-st #u1445-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 12px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1434.fld-err-st #u1436-4,
#widgetu1443.fld-err-st #u1445-4 {
	border-color: #d7244c;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 12px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1443.non-empty-st #u1445-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1443:hover #u1445-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu1443.focus-st #u1445-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1434_input,
#widgetu1434_prompt,
#widgetu1443_input,
#widgetu1443_prompt {
	width: 270px;
	min-height: 12px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 9px 6px;
}

#u1447-4 {
	z-index: 252;
	width: 349px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
}

#widgetu1431.frm-sub-st #u1447-4 p {
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1433-4 {
	z-index: 256;
	width: 349px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #ff0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
}

#widgetu1431.frm-sub-st #u1447-4,
#widgetu1431.frm-subm-err-st #u1433-4 {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu1431.frm-subm-err-st #u1433-4 p {
	color: #d7244c;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1432-4 {
	z-index: 260;
	width: 349px;
	min-height: 13px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00ff00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman,
		serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
}

#widgetu1431.frm-subm-ok-st #u1432-4 {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 17px;
}

#widgetu1431.frm-subm-ok-st #u1432-4 p {
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1442-17 {
	z-index: 264;
	min-height: 52px;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 104px;
	background: url("../../images/btn_buy_ticket_01-u1442-17.png") no-repeat 0px
		0px;
}

#u1442-17:hover {
	background: url("../../images/btn_buy_ticket_01-u1442-17-r.png") no-repeat 0px
		0px;
}

#u1442-17:active {
	background: url("../../images/btn_buy_ticket_02-u1442-17-m.png") no-repeat 0px
		0px;
}

#widgetu1431.frm-sub-st #u1442-17 {
	background: url("../../images/btn_buy_ticket_01-u1442-17-fs.png") no-repeat
		0px 0px;
}

#widgetu1438 {
	z-index: 281;
	width: 310px;
	height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 33px;
}

#widgetu1438.fld-err-st {
	background-color: transparent;
	border-radius: 0px;
	width: 310px;
	height: 77px;
	min-height: 0px;
	margin: 82px -10000px 0px 0px;
}

#u1441-3 {
	z-index: 282;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6b6b6b;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 261px;
}

#widgetu1438.fld-err-st #u1441-3 {
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 55px -10000px 0px 0px;
}

#widgetu1434.fld-err-st #u1435-3 p,
#widgetu1434.fld-err-st #u1435-3 span,
#widgetu1443.fld-err-st #u1444-3 p,
#widgetu1443.fld-err-st #u1444-3 span,
#widgetu1438.fld-err-st #u1441-3 p,
#widgetu1438.fld-err-st #u1441-3 span {
	color: #d7244c;
}

#u1439-4 {
	z-index: 285;
	width: 270px;
	min-height: 57px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
	background-color: #f2f2f2;
	line-height: 12px;
	font-size: 12px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 9px 6px;
}

#widgetu1438.non-empty-st #u1439-4 {
	background-color: #ffffff;
}

#widgetu1438:hover #u1439-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 57px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1438.focus-st #u1439-4 {
	border-color: #6b6b6b;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 57px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1438.fld-err-st #u1439-4 {
	border-color: #d7244c;
	background-color: #ffffff;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 57px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1438.non-empty-st #u1439-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1438:hover #u1439-4 * {
	color: #8439a8;
	font-style: normal;
}

#widgetu1438.focus-st #u1439-4 * {
	color: #1b0b2c;
	font-style: normal;
}

#widgetu1434.fld-err-st #u1436-4 *,
#widgetu1443.fld-err-st #u1445-4 *,
#widgetu1438.fld-err-st #u1439-4 * {
	color: #d7244c;
	font-style: normal;
}

#widgetu1438_input,
#widgetu1438_prompt {
	width: 270px;
	min-height: 57px;
	color: #c4c4c4;
	font-family: montserrat, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 9px 6px;
}

#widgetu1434.focus-st #widgetu1434_prompt,
#widgetu1443.focus-st #widgetu1443_prompt,
#widgetu1438.focus-st #widgetu1438_prompt {
	padding-top: 9px;
	padding-bottom: 9px;
	visibility: hidden;
}

#widgetu1434:hover #widgetu1434_input,
#widgetu1434.focus-st #widgetu1434_input,
#widgetu1434.fld-err-st #widgetu1434_input,
#widgetu1434:hover #widgetu1434_prompt,
#widgetu1434.fld-err-st #widgetu1434_prompt,
#widgetu1443:hover #widgetu1443_input,
#widgetu1443.focus-st #widgetu1443_input,
#widgetu1443.fld-err-st #widgetu1443_input,
#widgetu1443:hover #widgetu1443_prompt,
#widgetu1443.fld-err-st #widgetu1443_prompt,
#widgetu1438:hover #widgetu1438_input,
#widgetu1438.focus-st #widgetu1438_input,
#widgetu1438.fld-err-st #widgetu1438_input,
#widgetu1438:hover #widgetu1438_prompt,
#widgetu1438.fld-err-st #widgetu1438_prompt {
	padding-top: 9px;
	padding-bottom: 9px;
}

#widgetu1434.non-empty-st #widgetu1434_prompt,
#widgetu1443.non-empty-st #widgetu1443_prompt,
#widgetu1438.non-empty-st #widgetu1438_prompt {
	visibility: hidden;
}

#pu1423 {
	width: 0.01px;
	padding-bottom: 274px;
	margin-left: 42px;
	margin-top: -269px;
}

#u1423 {
	z-index: 218;
	width: 135px;
	height: 274px;
	position: fixed;
	top: 2894px;
	left: 42px;
	background: transparent url("../../images/geo_02-u1228-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1422 {
	z-index: 219;
	width: 184px;
	height: 124px;
	position: fixed;
	top: 3042px;
	left: 109px;
	background: transparent url("../../images/geo_01-u1229-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1426 {
	z-index: 215;
	width: 214px;
	height: 149px;
	position: fixed;
	top: 2895px;
	left: 147px;
	background: transparent url("../../images/geo_05-u1225-fr.png") no-repeat
		center top;
	background-size: contain;
}

#u1455-4 {
	z-index: 224;
	width: 350px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 31px;
	position: relative;
}

#pbuttonu1452 {
	width: 0.01px;
	margin-left: 83px;
	margin-top: 33px;
}

#buttonu1452 {
	z-index: 293;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1452:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1453 {
	z-index: 294;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu1452:hover #u1453 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center
		center;
}

#buttonu1273.ButtonSelected #u1274,
#buttonu1321.ButtonSelected #u1322,
#buttonu1331.ButtonSelected #u1332,
#buttonu1452.ButtonSelected #u1453 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center
		center;
}

#buttonu1448 {
	z-index: 289;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1448:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#u1449 {
	z-index: 290;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu1448:hover #u1449 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center
		center;
}

#buttonu1275.ButtonSelected #u1276,
#buttonu1317.ButtonSelected #u1318,
#buttonu1327.ButtonSelected #u1328,
#buttonu1448.ButtonSelected #u1449 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center
		center;
}

#buttonu1450 {
	z-index: 291;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#buttonu1450:hover {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left
		top;
}

#buttonu1273.ButtonSelected,
#buttonu1275.ButtonSelected,
#buttonu1271.ButtonSelected,
#buttonu1321.ButtonSelected,
#buttonu1317.ButtonSelected,
#buttonu1319.ButtonSelected,
#buttonu1331.ButtonSelected,
#buttonu1327.ButtonSelected,
#buttonu1329.ButtonSelected,
#buttonu1452.ButtonSelected,
#buttonu1448.ButtonSelected,
#buttonu1450.ButtonSelected {
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left
		top;
}

#u1451 {
	z-index: 292;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center
		center;
}

#buttonu1450:hover #u1451 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center
		center;
}

#buttonu1271.ButtonSelected #u1272,
#buttonu1319.ButtonSelected #u1320,
#buttonu1329.ButtonSelected #u1330,
#buttonu1450.ButtonSelected #u1451 {
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center
		center;
}

#u1429-6 {
	z-index: 229;
	width: 340px;
	min-height: 74px;
	background-color: transparent;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	margin-left: 20px;
	margin-top: 54px;
	position: relative;
}

#u1429-2 {
	line-height: 17px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1429-4 {
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

body {
	position: relative;
	min-width: 380px;
}

#page .verticalspacer {
	clear: both;
}

#apl-1 {
	z-index: 20;
	width: 410px;
	padding-bottom: 16px;
	margin-left: 200px;
	top: -245px;
	margin-bottom: -80px;
	position: relative;
	background: transparent url("../../images/dj_01_back.png") no-repeat center
		top;
}

#apl-1-inner {
	z-index: 21;
	width: 375px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 3px;
}

#apl-2 {
	z-index: 19;
	width: 337px;
	padding-bottom: 17px;
	position: relative;
	left: 32vw;
	margin-top: -245px;
	background: transparent url("../../images/dj_02_back.png") no-repeat center
		top;
}

#apl-2-inner {
	z-index: 25;
	width: 330px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 7px;
}
