.version.index /* version checker */
{
	color: #0000EF;
	background-color: #2B7EE3;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

.html
{
	background: #1B0B2C url("../../images/tablet_backround_01.jpg") repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 767.5000000000009px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#home
{
	position: relative;
}

#pu1564-6
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 12px;
}

#u1564-6
{
	z-index: 32;
	width: 236px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1565-6
{
	z-index: 44;
	width: 236px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: right;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 728px;
}

#u1573
{
	z-index: 2;
	width: 287px;
	height: 378px;
	position: fixed;
	top: 44px;
	left: 455px;
	background: transparent url("../../images/geo_06.png") no-repeat center top;
	background-size: contain;
}

#u1575
{
	z-index: 4;
	width: 625px;
	height: 572px;
	position: fixed;
	top: 104px;
	left: 201px;
	background: transparent url("../../images/geo_04.png") no-repeat center top;
	background-size: contain;
}

#u1576
{
	z-index: 5;
	width: 460px;
	height: 506px;
	position: fixed;
	top: 110px;
	left: 270px;
	background: transparent url("../../images/geo_03.png") no-repeat center top;
	background-size: contain;
}

#u1579-4
{
	z-index: 8;
	width: 249px;
	min-height: 28px;
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 382px;
	margin-top: 52px;
	position: relative;
}

#u1579-2
{
	padding-bottom: 3px;
	padding-top: 3px;
}

#u1580-4
{
	z-index: 12;
	width: 249px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 388px;
	margin-top: 5px;
	position: relative;
}

#u1581
{
	z-index: 16;
	width: 948px;
	height: 176px;
	margin-left: 38px;
	margin-top: 14px;
	position: relative;
	background: transparent url("../../images/deep_sounds_logo.png") no-repeat center top;
	background-size: contain;
}

#pu1577
{
	width: 0.01px;
	padding-bottom: 473px;
	margin-left: 257px;
	margin-top: -130px;
}

#u1577
{
	z-index: 6;
	width: 233px;
	height: 473px;
	position: fixed;
	top: 252px;
	left: 257px;
	background: transparent url("../../images/geo_02.png") no-repeat center top;
	background-size: contain;
}

#u1574
{
	z-index: 3;
	width: 369px;
	height: 257px;
	position: fixed;
	top: 254px;
	left: 439px;
	background: transparent url("../../images/geo_05.png") no-repeat center top;
	background-size: contain;
}

#pu1582
{
	width: 0.01px;
	margin-left: 274px;
	margin-top: -334px;
}

#u1582
{
	z-index: 17;
	width: 410px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
	background: transparent url("../../images/dj_01_back.png") no-repeat center top;
}

#u1585-4
{
	z-index: 20;
	width: 398px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 3px;
}

#u1583
{
	z-index: 18;
	width: 337px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	background: transparent url("../../images/dj_02_back.png") no-repeat center top;
}

#u1586-4
{
	z-index: 24;
	width: 330px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 7px;
}

#u1584
{
	z-index: 19;
	width: 337px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 108px;
	background: transparent url("../../images/dj_03_back.png") no-repeat center top;
}

#u1587-4
{
	z-index: 28;
	width: 330px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1578
{
	z-index: 7;
	width: 318px;
	height: 215px;
	position: fixed;
	top: 508px;
	left: 374px;
	background: transparent url("../../images/geo_01.png") no-repeat center top;
	background-size: contain;
}

#pu1569-6
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: -45px;
}

#u1569-6
{
	z-index: 38;
	width: 293px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1568-6
{
	z-index: 50;
	width: 331px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: right;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 633px;
}

#pamphletu1790
{
	z-index: 399;
	width: 0.01px;
	height: 78px;
	position: fixed;
	top: 760px;
	left: 0px;
}

#u1795
{
	position: absolute;
	width: 1024px;
	background-color: transparent;
}

#u1795popup
{
	z-index: 400;
}

#u1796
{
	z-index: 401;
	width: 1024px;
	height: 44px;
	border-style: none;
	border-color: #999999;
	background-color: #8439A8;
	margin-right: -10000px;
	position: relative;
}

#menuu2104
{
	z-index: 402;
	width: 705px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 159px;
}

#u2119
{
	width: 115px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2120
{
	width: 115px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u2120:hover
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u2120.MuseMenuActive
{
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u2123-4
{
	width: 115px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u2120:hover #u2123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u2120.MuseMenuActive #u2123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u2120:hover #u2123-4 p
{
	color: #1B0B2C;
	visibility: inherit;
}

#u2346
{
	width: 116px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 117px;
}

#u2347
{
	width: 116px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u2347:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u2350-4
{
	width: 116px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u2347:hover #u2350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u2347:hover #u2350-4 p
{
	color: #1B0B2C;
	visibility: inherit;
}

#u2126
{
	width: 116px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u2127
{
	width: 116px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u2347.MuseMenuActive,#u2127:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u2128-4
{
	width: 116px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u2347.MuseMenuActive #u2350-4,#u2127:hover #u2128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u2127:hover #u2128-4 p
{
	color: #1B0B2C;
	visibility: inherit;
}

#u2191
{
	width: 116px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u2192
{
	width: 116px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u2127.MuseMenuActive,#u2192:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u2193-4
{
	width: 116px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u2127.MuseMenuActive #u2128-4,#u2192:hover #u2193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u2192:hover #u2193-4 p
{
	color: #1B0B2C;
	visibility: inherit;
}

#u2198
{
	width: 116px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u2201
{
	width: 116px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u2192.MuseMenuActive,#u2201:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u2202-4
{
	width: 116px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u2192.MuseMenuActive #u2193-4,#u2201:hover #u2202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u2201:hover #u2202-4 p
{
	color: #1B0B2C;
	visibility: inherit;
}

#u2205
{
	width: 116px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u2208
{
	width: 116px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u2201.MuseMenuActive,#u2208:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u2208.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u2210-4
{
	width: 116px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u2201.MuseMenuActive #u2202-4,#u2208:hover #u2210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u2208.MuseMenuActive #u2210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u2208:hover #u2210-4 p
{
	color: #1B0B2C;
	visibility: inherit;
}

#u2120.MuseMenuActive #u2123-4 p,#u2347.MuseMenuActive #u2350-4 p,#u2127.MuseMenuActive #u2128-4 p,#u2192.MuseMenuActive #u2193-4 p,#u2201.MuseMenuActive #u2202-4 p,#u2208.MuseMenuActive #u2210-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1793
{
	z-index: 439;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 956px;
}

#u1794
{
	position: absolute;
	width: 58px;
	height: 68px;
	border-color: #DEDEDE;
	background: transparent url("../../images/mobile_menu_normal.png") no-repeat center center;
	background-size: contain;
}

#u1794.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 58px;
	height: 68px;
	min-height: 0px;
	margin: 0px;
	background-size: contain;
}

#u1802
{
	position: absolute;
	width: 58px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	top: 10px;
	left: 955px;
	background: transparent url("../../images/mobile_menu_close.png") no-repeat left top;
	background-size: contain;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#about
{
	margin-top: 37px;
	position: relative;
}

#u2355
{
	z-index: 56;
	width: 287px;
	height: 378px;
	position: fixed;
	top: 907px;
	left: 455px;
	background: transparent url("../../images/geo_06.png") no-repeat center top;
	background-size: contain;
}

#u2361-4
{
	z-index: 62;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 337px;
	margin-top: 162px;
	position: relative;
}

#pu2357
{
	width: 0.01px;
	padding-bottom: 572px;
	margin-left: 201px;
	margin-top: -22px;
}

#u2357
{
	z-index: 58;
	width: 625px;
	height: 572px;
	position: fixed;
	top: 967px;
	left: 201px;
	background: transparent url("../../images/geo_04.png") no-repeat center top;
	background-size: contain;
}

#u2358
{
	z-index: 59;
	width: 460px;
	height: 506px;
	position: fixed;
	top: 973px;
	left: 270px;
	background: transparent url("../../images/geo_03.png") no-repeat center top;
	background-size: contain;
}

#pamphletu2375
{
	z-index: 66;
	width: 0.01px;
	height: 498px;
	margin-left: 62px;
	top: -515px;
	margin-bottom: -498px;
	position: relative;
}

#u2376
{
	position: absolute;
	width: 790px;
	background-color: transparent;
	left: 57px;
}

#u2376popup
{
	z-index: 67;
}

#u2380
{
	z-index: 68;
	width: 790px;
	height: 456px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/about_event_background.png") no-repeat center center;
}

#u2583
{
	z-index: 69;
	width: 570px;
	min-height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 110px;
}

#u2377
{
	z-index: 70;
	width: 790px;
	height: 456px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/about_event_background.png") no-repeat center center;
}

#u2585-11
{
	z-index: 71;
	width: 540px;
	min-height: 329px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 125px;
}

#u2383
{
	z-index: 82;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 425px;
}

#u2384
{
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/menu_normal.png") no-repeat center center;
	background-size: contain;
}

#u2384:hover
{
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center center;
	background-size: contain;
}

#u2385
{
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 30px;
	background: transparent url("../../images/menu_normal.png") no-repeat center center;
	background-size: contain;
}

#u2385:hover
{
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center center;
	background-size: contain;
}

#u2388
{
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #DEDEDE;
	top: 175px;
	background: transparent url("../../images/btn_prev_composition_01.png") no-repeat center top;
}

#u2382
{
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #DEDEDE;
	top: 175px;
	left: 816px;
	background: transparent url("../../images/btn_next_composition_01.png") no-repeat center top;
}

#u2359
{
	z-index: 60;
	width: 233px;
	height: 473px;
	position: fixed;
	top: 1115px;
	left: 257px;
	background: transparent url("../../images/geo_02.png") no-repeat center top;
	background-size: contain;
}

#u2356
{
	z-index: 57;
	width: 369px;
	height: 257px;
	position: fixed;
	top: 1117px;
	left: 439px;
	background: transparent url("../../images/geo_05.png") no-repeat center top;
	background-size: contain;
}

#u2360
{
	z-index: 61;
	width: 318px;
	height: 215px;
	position: fixed;
	top: 1371px;
	left: 374px;
	background: transparent url("../../images/geo_01.png") no-repeat center top;
	background-size: contain;
}

#lineup
{
	margin-top: 125px;
	position: relative;
}

#u1603-4
{
	z-index: 93;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 337px;
	margin-top: 33px;
	position: relative;
}

#pamphletu1604
{
	z-index: 97;
	width: 0.01px;
	height: 658px;
	margin-left: 62px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1605
{
	position: absolute;
	width: 790px;
	background-color: transparent;
	left: 55px;
}

#u1605popup
{
	z-index: 98;
}

#u1617
{
	z-index: 99;
	width: 569px;
	height: 584px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 110px 24px 111px;
}

#u1618
{
	z-index: 100;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
	background: transparent url("../../images/dj_photo_01.png") no-repeat center top;
}

#u1623
{
	z-index: 101;
	width: 569px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	background: transparent url("../../images/dj_01_back_big.png") no-repeat left top;
}

#u1625-4
{
	z-index: 102;
	width: 540px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u1624-4
{
	z-index: 106;
	width: 540px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#buttonu1619
{
	z-index: 114;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1619:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1620
{
	z-index: 115;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center center;
}

#buttonu1619:hover #u1620
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center center;
}

#buttonu1626
{
	z-index: 110;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1626:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1627
{
	z-index: 111;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center center;
}

#buttonu1626:hover #u1627
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center center;
}

#buttonu1621
{
	z-index: 112;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1621:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1622
{
	z-index: 113;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center center;
}

#buttonu1621:hover #u1622
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center center;
}

#u1628
{
	z-index: 116;
	width: 569px;
	height: 584px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 110px 24px 111px;
}

#u1638
{
	z-index: 117;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
	background: transparent url("../../images/dj_photo_01.png") no-repeat center top;
}

#u1632
{
	z-index: 118;
	width: 569px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	background: transparent url("../../images/dj_01_back_big.png") no-repeat left top;
}

#u1633-4
{
	z-index: 119;
	width: 540px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u1631-4
{
	z-index: 123;
	width: 540px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#buttonu1634
{
	z-index: 131;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1634:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1635
{
	z-index: 132;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center center;
}

#buttonu1634:hover #u1635
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center center;
}

#buttonu1629
{
	z-index: 127;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1629:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1630
{
	z-index: 128;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center center;
}

#buttonu1629:hover #u1630
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center center;
}

#buttonu1636
{
	z-index: 129;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1636:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1637
{
	z-index: 130;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center center;
}

#buttonu1636:hover #u1637
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center center;
}

#u1606
{
	z-index: 133;
	width: 569px;
	height: 584px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 110px 24px 111px;
}

#pu1618,#pu1638,#pu1614
{
	width: 0.01px;
	margin-left: -1px;
}

#u1614
{
	z-index: 134;
	width: 465px;
	height: 392px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
	background: transparent url("../../images/dj_photo_01.png") no-repeat center top;
}

#u1607
{
	z-index: 135;
	width: 569px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	background: transparent url("../../images/dj_01_back_big.png") no-repeat left top;
}

#u1608-4
{
	z-index: 136;
	width: 540px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 15px;
}

#u1613-4
{
	z-index: 140;
	width: 540px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#pbuttonu1619,#pbuttonu1634,#pbuttonu1611
{
	width: 0.01px;
	margin-left: 177px;
	margin-top: 21px;
}

#buttonu1611
{
	z-index: 148;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1611:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1612
{
	z-index: 149;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center center;
}

#buttonu1611:hover #u1612
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center center;
}

#buttonu1609
{
	z-index: 144;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1609:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1610
{
	z-index: 145;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center center;
}

#buttonu1609:hover #u1610
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center center;
}

#buttonu1615
{
	z-index: 146;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1615:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1616
{
	z-index: 147;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center center;
}

#buttonu1615:hover #u1616
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center center;
}

#u1639
{
	z-index: 150;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 634px;
	left: 409px;
}

#u1642
{
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/menu_normal.png") no-repeat center center;
	background-size: contain;
}

#u1642:hover
{
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center center;
	background-size: contain;
}

#u1641
{
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 31px;
	background: transparent url("../../images/menu_normal.png") no-repeat center center;
	background-size: contain;
}

#u1641:hover
{
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center center;
	background-size: contain;
}

#u1640
{
	position: absolute;
	width: 20px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	left: 61px;
	background: transparent url("../../images/menu_normal.png") no-repeat center center;
	background-size: contain;
}

#u1640:hover
{
	border-color: #999999;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center center;
	background-size: contain;
}

#u2384.PamphletThumbSelected,#u2385.PamphletThumbSelected,#u1642.PamphletThumbSelected,#u1641.PamphletThumbSelected,#u1640.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	width: 20px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/menu_active.png") no-repeat center center;
	background-size: contain;
}

#u1643
{
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #DEDEDE;
	top: 245px;
	background: transparent url("../../images/btn_prev_composition_01.png") no-repeat center top;
}

#u2388:hover,#u1643:hover
{
	width: 85px;
	height: 135px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/btn_prev_composition_02.png") no-repeat center top;
}

#u1646
{
	position: absolute;
	width: 85px;
	height: 135px;
	border-color: #DEDEDE;
	top: 245px;
	left: 816px;
	background: transparent url("../../images/btn_next_composition_01.png") no-repeat center top;
}

#u2382:hover,#u1646:hover
{
	width: 85px;
	height: 135px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/btn_next_composition_02.png") no-repeat center top;
}

#u1599
{
	z-index: 87;
	width: 287px;
	height: 378px;
	position: fixed;
	top: 1807px;
	left: 455px;
	background: transparent url("../../images/geo_06.png") no-repeat center top;
	background-size: contain;
}

#u1597
{
	z-index: 89;
	width: 625px;
	height: 572px;
	position: fixed;
	top: 1867px;
	left: 201px;
	background: transparent url("../../images/geo_04.png") no-repeat center top;
	background-size: contain;
}

#u1596
{
	z-index: 90;
	width: 460px;
	height: 506px;
	position: fixed;
	top: 1873px;
	left: 270px;
	background: transparent url("../../images/geo_03.png") no-repeat center top;
	background-size: contain;
}

#u1595
{
	z-index: 91;
	width: 233px;
	height: 473px;
	position: fixed;
	top: 2015px;
	left: 257px;
	background: transparent url("../../images/geo_02.png") no-repeat center top;
	background-size: contain;
}

#u1598
{
	z-index: 88;
	width: 369px;
	height: 257px;
	position: fixed;
	top: 2017px;
	left: 439px;
	background: transparent url("../../images/geo_05.png") no-repeat center top;
	background-size: contain;
}

#u1594
{
	z-index: 92;
	width: 318px;
	height: 215px;
	position: fixed;
	top: 2271px;
	left: 374px;
	background: transparent url("../../images/geo_01.png") no-repeat center top;
	background-size: contain;
}

#u1660
{
	z-index: 156;
	width: 287px;
	height: 378px;
	position: fixed;
	top: 2620px;
	left: 455px;
	background: transparent url("../../images/geo_06.png") no-repeat center top;
	background-size: contain;
}

#tickets
{
	margin-top: 248px;
	position: relative;
}

#u1658
{
	z-index: 158;
	width: 625px;
	height: 572px;
	position: fixed;
	top: 2680px;
	left: 201px;
	background: transparent url("../../images/geo_04.png") no-repeat center top;
	background-size: contain;
}

#u1657
{
	z-index: 159;
	width: 460px;
	height: 506px;
	position: fixed;
	top: 2686px;
	left: 270px;
	background: transparent url("../../images/geo_03.png") no-repeat center top;
	background-size: contain;
}

#u1654-4
{
	z-index: 162;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 337px;
	margin-top: 32px;
	position: relative;
}

#u1684
{
	z-index: 166;
	width: 300px;
	height: 354px;
	position: fixed;
	top: 2778px;
	left: 52px;
	background: transparent url("../../images/tickets_back_01.png") no-repeat left top;
}

#u1688
{
	z-index: 179;
	width: 300px;
	height: 346px;
	position: fixed;
	top: 2778px;
	left: 362px;
	background: transparent url("../../images/tickets_back_02.png") no-repeat left top;
}

#u1693
{
	z-index: 196;
	width: 300px;
	height: 354px;
	position: fixed;
	top: 2778px;
	left: 672px;
	background: transparent url("../../images/tickets_back_03.png") no-repeat left top;
}

#u1656
{
	z-index: 160;
	width: 233px;
	height: 473px;
	position: fixed;
	top: 2828px;
	left: 257px;
	background: transparent url("../../images/geo_02.png") no-repeat center top;
	background-size: contain;
}

#u1659
{
	z-index: 157;
	width: 369px;
	height: 257px;
	position: fixed;
	top: 2830px;
	left: 439px;
	background: transparent url("../../images/geo_05.png") no-repeat center top;
	background-size: contain;
}

#u1687-4
{
	z-index: 175;
	width: 179px;
	min-height: 28px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2858px;
	left: 128px;
}

#u1691-4
{
	z-index: 188;
	width: 193px;
	min-height: 28px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2858px;
	left: 419px;
}

#u1696-4
{
	z-index: 205;
	width: 206px;
	min-height: 28px;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2858px;
	left: 729px;
}

#u1686-4
{
	z-index: 171;
	width: 179px;
	min-height: 77px;
	background-color: transparent;
	line-height: 72px;
	color: #FFFFFF;
	font-size: 72px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2886px;
	left: 128px;
}

#u1690-4
{
	z-index: 184;
	width: 181px;
	min-height: 77px;
	background-color: transparent;
	line-height: 72px;
	color: #FFFFFF;
	font-size: 72px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2886px;
	left: 424px;
}

#u1695-4
{
	z-index: 201;
	width: 181px;
	min-height: 77px;
	background-color: transparent;
	line-height: 72px;
	color: #FFFFFF;
	font-size: 72px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2886px;
	left: 744px;
}

#u1685-4
{
	z-index: 167;
	width: 186px;
	min-height: 66px;
	text-indent: 8px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2992px;
	left: 121px;
	background: transparent url("../../images/btn_buy_ticket_01.png") no-repeat center center;
}

#u1689-4
{
	z-index: 180;
	width: 186px;
	min-height: 66px;
	text-indent: 8px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2992px;
	left: 419px;
	background: transparent url("../../images/btn_buy_ticket_01.png") no-repeat center center;
}

#u1694-4
{
	z-index: 197;
	width: 186px;
	min-height: 66px;
	text-indent: 8px;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2992px;
	left: 739px;
	background: transparent url("../../images/btn_buy_ticket_01.png") no-repeat center center;
}

#u1685-4:active,#u1689-4:active,#u1694-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px;
	background: transparent url("../../images/btn_buy_ticket_02.png") no-repeat center center;
}

#u1685-4:active p,#u1689-4:active p,#u1694-4:active p
{
	padding-bottom: 16px;
	padding-top: 22px;
}

#u1655
{
	z-index: 161;
	width: 318px;
	height: 215px;
	position: fixed;
	top: 3084px;
	left: 374px;
	background: transparent url("../../images/geo_01.png") no-repeat center top;
	background-size: contain;
}

#u1692-4
{
	z-index: 192;
	width: 600px;
	min-height: 48px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 212px;
	margin-top: 403px;
	position: relative;
}

#u1710
{
	z-index: 209;
	width: 287px;
	height: 378px;
	position: fixed;
	top: 3428px;
	left: 455px;
	background: transparent url("../../images/geo_06.png") no-repeat center top;
	background-size: contain;
}

#sponsors
{
	margin-left: 1px;
	margin-top: 260px;
	position: relative;
}

#u1708
{
	z-index: 211;
	width: 625px;
	height: 572px;
	position: fixed;
	top: 3487px;
	left: 201px;
	background: transparent url("../../images/geo_04.png") no-repeat center top;
	background-size: contain;
}

#u1707
{
	z-index: 212;
	width: 460px;
	height: 506px;
	position: fixed;
	top: 3494px;
	left: 270px;
	background: transparent url("../../images/geo_03.png") no-repeat center top;
	background-size: contain;
}

#u1704-4
{
	z-index: 215;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 337px;
	margin-top: 34px;
	position: relative;
}

#buttonu1719
{
	z-index: 227;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 3589px;
	left: 222px;
	background: transparent url("../../images/partner_logo_background.png") no-repeat center center;
}

#u1720
{
	z-index: 228;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1720-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu1719:hover #u1720
{
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample.png") no-repeat center center;
	background-size: contain;
}

#buttonu1711
{
	z-index: 219;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 3589px;
	left: 422px;
	background: transparent url("../../images/partner_logo_background.png") no-repeat center center;
}

#u1712
{
	z-index: 220;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1720-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu1719.ButtonSelected #u1720,#buttonu1711:hover #u1712
{
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample.png") no-repeat center center;
	background-size: contain;
}

#buttonu1715
{
	z-index: 223;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 3589px;
	left: 622px;
	background: transparent url("../../images/partner_logo_background.png") no-repeat center center;
}

#u1716
{
	z-index: 224;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1720-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu1711.ButtonSelected #u1712,#buttonu1715:hover #u1716
{
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample.png") no-repeat center center;
	background-size: contain;
}

#u1706
{
	z-index: 213;
	width: 233px;
	height: 473px;
	position: fixed;
	top: 3636px;
	left: 257px;
	background: transparent url("../../images/geo_02.png") no-repeat center top;
	background-size: contain;
}

#u1709
{
	z-index: 210;
	width: 369px;
	height: 257px;
	position: fixed;
	top: 3638px;
	left: 439px;
	background: transparent url("../../images/geo_05.png") no-repeat center top;
	background-size: contain;
}

#buttonu1713
{
	z-index: 221;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 3760px;
	left: 322px;
	background: transparent url("../../images/partner_logo_background.png") no-repeat center center;
}

#u1714
{
	z-index: 222;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1720-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu1715.ButtonSelected #u1716,#buttonu1713:hover #u1714
{
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample.png") no-repeat center center;
	background-size: contain;
}

#buttonu1717
{
	z-index: 225;
	width: 180px;
	border-color: #787878;
	position: fixed;
	top: 3760px;
	left: 522px;
	background: transparent url("../../images/partner_logo_background.png") no-repeat center center;
}

#buttonu1719.ButtonSelected,#buttonu1711.ButtonSelected,#buttonu1715.ButtonSelected,#buttonu1713.ButtonSelected,#buttonu1717.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u1718
{
	z-index: 226;
	width: 180px;
	height: 209px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/partner_logo_sample-u1720-fr.png") no-repeat center center;
	background-size: contain;
}

#buttonu1713.ButtonSelected #u1714,#buttonu1717:hover #u1718
{
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample.png") no-repeat center center;
	background-size: contain;
}

#buttonu1717.ButtonSelected #u1718
{
	width: 180px;
	height: 209px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/partner_logo_sample.png") no-repeat center center;
	background-size: contain;
}

#u1705
{
	z-index: 214;
	width: 318px;
	height: 215px;
	position: fixed;
	top: 3892px;
	left: 374px;
	background: transparent url("../../images/geo_01.png") no-repeat center top;
	background-size: contain;
}

#pamphletu1721
{
	z-index: 229;
	width: 0.01px;
	height: 66px;
	margin-left: 416px;
	margin-top: 468px;
	position: relative;
}

#u1722
{
	z-index: 230;
	width: 186px;
	position: relative;
	margin-right: -10000px;
}

#u1723
{
	position: absolute;
	width: 186px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u1724-4
{
	z-index: 232;
	width: 186px;
	min-height: 66px;
	text-align: center;
	text-indent: 5px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_buy_ticket_01.png") no-repeat center center;
}

#u1723:hover #u1724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_buy_ticket_01.png") no-repeat center center;
}

#u1723:active #u1724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_buy_ticket_02.png") no-repeat center center;
}

#u1723.PamphletThumbSelected #u1724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 186px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_buy_ticket_01.png") no-repeat center center;
}

#u1723:hover #u1724-4 p
{
	color: #8439A8;
	visibility: inherit;
}

#u1723:active #u1724-4 p
{
	color: #3B154D;
	visibility: inherit;
	padding-bottom: 16px;
	padding-top: 22px;
}

#u1723.PamphletThumbSelected #u1724-4 p
{
	color: #000000;
	visibility: inherit;
	padding-bottom: 19px;
	padding-top: 19px;
}

#u1685-2,#u1689-2,#u1694-2,#u1724-2
{
	padding-bottom: 19px;
	padding-top: 19px;
}

#u1726
{
	position: absolute;
	width: 834px;
	background-color: #312341;
	background-color: rgba(27,11,44,0.9);
	padding-bottom: 44px;
	top: -446px;
	left: -321px;
	-pie-background: rgba(27,11,44,0.9);
}

#u1726popup
{
	z-index: 236;
}

#u1727
{
	z-index: 237;
	width: 790px;
	height: 424px;
	border-style: none;
	border-color: #999999;
	background-color: #8439A8;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1745-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 30px;
}

#u1745-4
{
	z-index: 257;
	width: 350px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1746-19
{
	z-index: 238;
	width: 350px;
	min-height: 294px;
	background-color: transparent;
	color: #FFFFFF;
	margin-top: 27px;
	position: relative;
}

#u1746-2,#u1746-3,#u1746-5,#u1746-6,#u1746-8,#u1746-9,#u1746-11,#u1746-12,#u1746-13,#u1746-15
{
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u1746-17
{
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#widgetu1728
{
	z-index: 261;
	width: 0.01px;
	height: 346px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 414px;
}

#widgetu1732
{
	z-index: 262;
	width: 348px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1732.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 348px;
	height: 52px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1734-3
{
	z-index: 263;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 267px;
}

#u1735-4
{
	z-index: 266;
	width: 334px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1732.non-empty-st #u1735-4
{
	background-color: #FFFFFF;
}

#widgetu1732:hover #u1735-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1732.focus-st #u1735-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1732.non-empty-st #u1735-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1732:hover #u1735-4 *
{
	color: #8439A8;
	font-style: normal;
}

#widgetu1732.focus-st #u1735-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1732_input,#widgetu1732_prompt
{
	width: 334px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 18px 6px;
}

#widgetu1736
{
	z-index: 270;
	width: 348px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu1736.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 348px;
	height: 52px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u1738-3
{
	z-index: 271;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 253px;
}

#u1739-4
{
	z-index: 274;
	width: 334px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1736.non-empty-st #u1739-4
{
	background-color: #FFFFFF;
}

#widgetu1736:hover #u1739-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1736.focus-st #u1739-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1732.fld-err-st #u1735-4,#widgetu1736.fld-err-st #u1739-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1736.non-empty-st #u1739-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1736:hover #u1739-4 *
{
	color: #8439A8;
	font-style: normal;
}

#widgetu1736.focus-st #u1739-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1736_input,#widgetu1736_prompt
{
	width: 334px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#u1744-4
{
	z-index: 278;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#u1730-4
{
	z-index: 282;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#u1731-4
{
	z-index: 286;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
}

#widgetu1728.frm-sub-st #u1744-4,#widgetu1728.frm-subm-err-st #u1730-4,#widgetu1728.frm-subm-ok-st #u1731-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 42px;
}

#widgetu1728.frm-subm-ok-st #u1731-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1729-17
{
	z-index: 290;
	min-height: 66px;
	width: 186px;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 162px;
	background: url("../../images/btn_buy_ticket_01-u1729-17.png") no-repeat 0px 0px;
}

#u1729-17:hover
{
	background: url("../../images/btn_buy_ticket_01-u1729-17-r.png") no-repeat 0px 0px;
}

#u1729-17:active
{
	background: url("../../images/btn_buy_ticket_02-u1729-17-m.png") no-repeat 0px 0px;
}

#widgetu1728.frm-sub-st #u1729-17
{
	background: url("../../images/btn_buy_ticket_01-u1729-17-fs.png") no-repeat 0px 0px;
}

#widgetu1740
{
	z-index: 307;
	width: 348px;
	height: 152px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu1740.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 348px;
	height: 152px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u1743-3
{
	z-index: 308;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 261px;
}

#u1741-4
{
	z-index: 311;
	width: 334px;
	min-height: 114px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1740.non-empty-st #u1741-4
{
	background-color: #FFFFFF;
}

#widgetu1740:hover #u1741-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1740.focus-st #u1741-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1740.fld-err-st #u1741-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 334px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1740.non-empty-st #u1741-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1740:hover #u1741-4 *
{
	color: #8439A8;
	font-style: normal;
}

#widgetu1740.focus-st #u1741-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1740_input,#widgetu1740_prompt
{
	width: 334px;
	min-height: 114px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#u1725
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	top: -424px;
	left: 491px;
	background: #3B154D url("../../images/close_button.png") no-repeat center center;
}

#u1725:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #523F63 url("../../images/close_button-u1725-r-fr.png") no-repeat center center;
	background-color: rgba(39,16,61,0.8);
}

#u1787
{
	z-index: 316;
	width: 287px;
	height: 378px;
	position: fixed;
	top: 4213px;
	left: 455px;
	background: transparent url("../../images/geo_06.png") no-repeat center top;
	background-size: contain;
}

#contact
{
	margin-top: 156px;
	position: relative;
}

#u1784
{
	z-index: 318;
	width: 625px;
	height: 572px;
	position: fixed;
	top: 4273px;
	left: 201px;
	background: transparent url("../../images/geo_04.png") no-repeat center top;
	background-size: contain;
}

#u1786
{
	z-index: 319;
	width: 460px;
	height: 506px;
	position: fixed;
	top: 4279px;
	left: 270px;
	background: transparent url("../../images/geo_03.png") no-repeat center top;
	background-size: contain;
}

#u1753-4
{
	z-index: 331;
	width: 601px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 212px;
	margin-top: 34px;
	position: relative;
}

#pu1751
{
	width: 0.01px;
	margin-left: 239px;
	margin-top: 41px;
}

#u1751
{
	z-index: 322;
	width: 546px;
	height: 366px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/contact_form_background.png") no-repeat center center;
}

#widgetu1755
{
	z-index: 339;
	width: 0.01px;
	height: 372px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 55px;
}

#widgetu1757
{
	z-index: 340;
	width: 440px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1757.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 52px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1759-3
{
	z-index: 341;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 267px;
}

#widgetu1732.fld-err-st #u1734-3,#widgetu1757.fld-err-st #u1759-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 16px -10000px 0px 0px;
}

#u1760-4
{
	z-index: 344;
	width: 426px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1757.non-empty-st #u1760-4
{
	background-color: #FFFFFF;
}

#widgetu1757:hover #u1760-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1757.focus-st #u1760-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1757.non-empty-st #u1760-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1757:hover #u1760-4 *
{
	color: #8439A8;
	font-style: normal;
}

#widgetu1757.focus-st #u1760-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1757_input,#widgetu1757_prompt
{
	width: 426px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	padding: 18px 6px;
}

#widgetu1761
{
	z-index: 348;
	width: 440px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu1761.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 52px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u1764-3
{
	z-index: 349;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 253px;
}

#widgetu1736.fld-err-st #u1738-3,#widgetu1761.fld-err-st #u1764-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 15px -10000px 0px 0px;
}

#u1763-4
{
	z-index: 352;
	width: 426px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1761.non-empty-st #u1763-4
{
	background-color: #FFFFFF;
}

#widgetu1761:hover #u1763-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1761.focus-st #u1763-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1757.fld-err-st #u1760-4,#widgetu1761.fld-err-st #u1763-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1761.non-empty-st #u1763-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1761:hover #u1763-4 *
{
	color: #8439A8;
	font-style: normal;
}

#widgetu1761.focus-st #u1763-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1761_input,#widgetu1761_prompt
{
	width: 426px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#u1765-4
{
	z-index: 356;
	width: 349px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 45px;
}

#widgetu1728.frm-sub-st #u1744-4 p,#widgetu1755.frm-sub-st #u1765-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1766-4
{
	z-index: 360;
	width: 349px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 45px;
}

#widgetu1755.frm-sub-st #u1765-4,#widgetu1755.frm-subm-err-st #u1766-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu1728.frm-subm-err-st #u1730-4 p,#widgetu1755.frm-subm-err-st #u1766-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1756-4
{
	z-index: 364;
	width: 349px;
	min-height: 13px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 45px;
}

#widgetu1755.frm-subm-ok-st #u1756-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 17px;
}

#widgetu1755.frm-subm-ok-st #u1756-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u1771-17
{
	z-index: 368;
	min-height: 66px;
	width: 186px;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 124px;
	background: url("../../images/btn_buy_ticket_01-u1771-17.png") no-repeat 0px 0px;
}

#u1771-17:hover
{
	background: url("../../images/btn_buy_ticket_01-u1771-17-r.png") no-repeat 0px 0px;
}

#u1771-17:active
{
	background: url("../../images/btn_buy_ticket_02-u1771-17-m.png") no-repeat 0px 0px;
}

#widgetu1755.frm-sub-st #u1771-17
{
	background: url("../../images/btn_buy_ticket_01-u1771-17-fs.png") no-repeat 0px 0px;
}

#widgetu1767
{
	z-index: 385;
	width: 440px;
	height: 152px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu1767.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 440px;
	height: 152px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u1769-3
{
	z-index: 386;
	width: 49px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 261px;
}

#widgetu1740.fld-err-st #u1743-3,#widgetu1767.fld-err-st #u1769-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 18px -10000px 0px 0px;
}

#widgetu1732.fld-err-st #u1734-3 p,#widgetu1732.fld-err-st #u1734-3 span,#widgetu1736.fld-err-st #u1738-3 p,#widgetu1736.fld-err-st #u1738-3 span,#widgetu1740.fld-err-st #u1743-3 p,#widgetu1740.fld-err-st #u1743-3 span,#widgetu1757.fld-err-st #u1759-3 p,#widgetu1757.fld-err-st #u1759-3 span,#widgetu1761.fld-err-st #u1764-3 p,#widgetu1761.fld-err-st #u1764-3 span,#widgetu1767.fld-err-st #u1769-3 p,#widgetu1767.fld-err-st #u1769-3 span
{
	color: #D7244C;
}

#u1770-4
{
	z-index: 389;
	width: 426px;
	min-height: 114px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 14px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 18px 6px;
}

#widgetu1767.non-empty-st #u1770-4
{
	background-color: #FFFFFF;
}

#widgetu1767:hover #u1770-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1767.focus-st #u1770-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1767.fld-err-st #u1770-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1767.non-empty-st #u1770-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1767:hover #u1770-4 *
{
	color: #8439A8;
	font-style: normal;
}

#widgetu1767.focus-st #u1770-4 *
{
	color: #1B0B2C;
	font-style: normal;
}

#widgetu1732.fld-err-st #u1735-4 *,#widgetu1736.fld-err-st #u1739-4 *,#widgetu1740.fld-err-st #u1741-4 *,#widgetu1757.fld-err-st #u1760-4 *,#widgetu1761.fld-err-st #u1763-4 *,#widgetu1767.fld-err-st #u1770-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu1767_input,#widgetu1767_prompt
{
	width: 426px;
	min-height: 114px;
	color: #C4C4C4;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	padding: 18px 6px;
}

#widgetu1732.focus-st #widgetu1732_prompt,#widgetu1736.focus-st #widgetu1736_prompt,#widgetu1740.focus-st #widgetu1740_prompt,#widgetu1757.focus-st #widgetu1757_prompt,#widgetu1761.focus-st #widgetu1761_prompt,#widgetu1767.focus-st #widgetu1767_prompt
{
	padding-top: 18px;
	padding-bottom: 18px;
	visibility: hidden;
}

#widgetu1732:hover #widgetu1732_input,#widgetu1732.focus-st #widgetu1732_input,#widgetu1732.fld-err-st #widgetu1732_input,#widgetu1732:hover #widgetu1732_prompt,#widgetu1732.fld-err-st #widgetu1732_prompt,#widgetu1736:hover #widgetu1736_input,#widgetu1736.focus-st #widgetu1736_input,#widgetu1736.fld-err-st #widgetu1736_input,#widgetu1736:hover #widgetu1736_prompt,#widgetu1736.fld-err-st #widgetu1736_prompt,#widgetu1740:hover #widgetu1740_input,#widgetu1740.focus-st #widgetu1740_input,#widgetu1740.fld-err-st #widgetu1740_input,#widgetu1740:hover #widgetu1740_prompt,#widgetu1740.fld-err-st #widgetu1740_prompt,#widgetu1757:hover #widgetu1757_input,#widgetu1757.focus-st #widgetu1757_input,#widgetu1757.fld-err-st #widgetu1757_input,#widgetu1757:hover #widgetu1757_prompt,#widgetu1757.fld-err-st #widgetu1757_prompt,#widgetu1761:hover #widgetu1761_input,#widgetu1761.focus-st #widgetu1761_input,#widgetu1761.fld-err-st #widgetu1761_input,#widgetu1761:hover #widgetu1761_prompt,#widgetu1761.fld-err-st #widgetu1761_prompt,#widgetu1767:hover #widgetu1767_input,#widgetu1767.focus-st #widgetu1767_input,#widgetu1767.fld-err-st #widgetu1767_input,#widgetu1767:hover #widgetu1767_prompt,#widgetu1767.fld-err-st #widgetu1767_prompt
{
	padding-top: 18px;
	padding-bottom: 18px;
}

#widgetu1732.non-empty-st #widgetu1732_prompt,#widgetu1736.non-empty-st #widgetu1736_prompt,#widgetu1740.non-empty-st #widgetu1740_prompt,#widgetu1757.non-empty-st #widgetu1757_prompt,#widgetu1761.non-empty-st #widgetu1761_prompt,#widgetu1767.non-empty-st #widgetu1767_prompt
{
	visibility: hidden;
}

#pu1788
{
	width: 0.01px;
	padding-bottom: 473px;
	margin-left: 257px;
	margin-top: -370px;
}

#u1788
{
	z-index: 320;
	width: 233px;
	height: 473px;
	position: fixed;
	top: 4421px;
	left: 257px;
	background: transparent url("../../images/geo_02.png") no-repeat center top;
	background-size: contain;
}

#u1789
{
	z-index: 321;
	width: 318px;
	height: 215px;
	position: fixed;
	top: 4677px;
	left: 374px;
	background: transparent url("../../images/geo_01.png") no-repeat center top;
	background-size: contain;
}

#u1785
{
	z-index: 317;
	width: 369px;
	height: 257px;
	position: fixed;
	top: 4423px;
	left: 439px;
	background: transparent url("../../images/geo_05.png") no-repeat center top;
	background-size: contain;
}

#u1754-4
{
	z-index: 335;
	width: 601px;
	min-height: 44px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-left: 212px;
	top: -72px;
	margin-bottom: -44px;
	position: relative;
}

#pbuttonu1776
{
	width: 0.01px;
	margin-left: 405px;
	margin-top: 2px;
}

#buttonu1776
{
	z-index: 397;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1776:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1777
{
	z-index: 398;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center center;
}

#buttonu1776:hover #u1777
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_01.png") no-repeat center center;
}

#buttonu1619.ButtonSelected #u1620,#buttonu1634.ButtonSelected #u1635,#buttonu1611.ButtonSelected #u1612,#buttonu1776.ButtonSelected #u1777
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_fb_02.png") no-repeat center center;
}

#buttonu1772
{
	z-index: 393;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 78px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1772:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#u1773
{
	z-index: 394;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center center;
}

#buttonu1772:hover #u1773
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_01.png") no-repeat center center;
}

#buttonu1626.ButtonSelected #u1627,#buttonu1629.ButtonSelected #u1630,#buttonu1609.ButtonSelected #u1610,#buttonu1772.ButtonSelected #u1773
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_tw_02.png") no-repeat center center;
}

#buttonu1774
{
	z-index: 395;
	width: 58px;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#buttonu1774:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_02.png") no-repeat left top;
}

#buttonu1619.ButtonSelected,#buttonu1626.ButtonSelected,#buttonu1621.ButtonSelected,#buttonu1634.ButtonSelected,#buttonu1629.ButtonSelected,#buttonu1636.ButtonSelected,#buttonu1611.ButtonSelected,#buttonu1609.ButtonSelected,#buttonu1615.ButtonSelected,#buttonu1776.ButtonSelected,#buttonu1772.ButtonSelected,#buttonu1774.ButtonSelected
{
	width: 58px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/btn_social_01.png") no-repeat left top;
}

#u1775
{
	z-index: 396;
	width: 58px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center center;
}

#buttonu1774:hover #u1775
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_01.png") no-repeat center center;
}

#buttonu1621.ButtonSelected #u1622,#buttonu1636.ButtonSelected #u1637,#buttonu1615.ButtonSelected #u1616,#buttonu1774.ButtonSelected #u1775
{
	width: 58px;
	height: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/social_mc_02.png") no-repeat center center;
}

#u1752-8
{
	z-index: 323;
	width: 540px;
	min-height: 85px;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	margin-left: 242px;
	margin-top: 83px;
	position: relative;
}

#u1752-2
{
	line-height: 17px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u1752-4,#u1752-6
{
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
}

